﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<Person> SignInManager
@inject UserManager<Person> UserManager

@model GEscola.Models.Users

@{
    ViewData["Title"] = "Criar Utilizador";
}


<div class="containerBox">

    <div id="tableContainer">

        <p class="tableTitle">Criar</p>

        <div class="centerTable">

            <div id="info">

                <div class="infoContainer">

                    <div class="header">
                        <ul class="options reverse">
                            <li>
                                <div class="redirectButton small">
                                    <a asp-action="Index"><img src="~/images/arrow_back_white.png" alt="Redirect" /></a>
                                </div>
                            </li>

                            <li>
                                <p class="title">Tipos de utilizador</p>
                            </li>
                        </ul>
                    </div>

                    <div class="main">

                        <ul class="choice">
                            @if (User.IsInRole("Admin"))
                            {
                                <li>
                                    <a class="container" asp-controller="Users" asp-action="CreateTeacher">
                                        <div class="containerIllustration">
                                            <div class="image teacher"></div>
                                        </div>

                                        <div class="containerText">
                                            <p>Professor</p>
                                        </div>
                                    </a>
                                </li>

                                <li>
                                    <a class="container" asp-controller="Users" asp-action="CreateStudent">
                                        <div class="containerIllustration">
                                            <div class="image student"></div>
                                        </div>

                                        <div class="containerText">
                                            <p>Aluno</p>
                                        </div>
                                    </a>
                                </li>
                            }
                        </ul>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>


<!--
<div class="containerBox">

    <div class="backBtn">
        <a asp-action="Index"><img src="~/images/back-button.png" alt="Back to List" /></a>
    </div>

    <div class="formContainer">

        <ul id="optionMenu">
            @if (User.IsInRole("Admin"))
            {
            <li>
                <a asp-controller="Users" asp-action="CreateTeacher">Professor</a>
            </li>

            <li>
                <a asp-controller="Users" asp-action="CreateStudent">Estudante</a>
            </li>
            }
        </ul>

    </div>

</div>
-->

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}