﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<Person> SignInManager
@inject UserManager<Person> UserManager

@model GEscola.Models.Users
@{
    ViewData["Title"] = "Criar Professor";
}


<div class="containerBox">

    <div id="tableContainer">

        <p class="tableTitle">Criar</p>

        <div class="centerTable">

            <div id="info">

                <div class="infoContainer">

                    <div class="header">
                        <ul class="options reverse">
                            <li>
                                <div class="redirectButton small">
                                    <a asp-action="Index"><img src="~/images/arrow_back_white.png" alt="Redirect" /></a>
                                </div>
                            </li>

                            <li>
                                <p class="title">Professor</p>
                            </li>
                        </ul>
                    </div>

                    <div class="main">

                        <form asp-controller="Users" asp-action="CreateTeacher" asp-route-id="@Model">

                            <div class="form-group">
                                <!-- <span></span> -->
                                <input asp-for="Name" placeholder="Nome" type="text" class="form-control" />
                            </div>

                            <div class="form-group">
                                <!-- <span></span> -->
                                <input asp-for="SchoolName" value="@UserManager.FindByNameAsync(User.Identity.Name).Result.SchoolName" readonly="readonly" class="form-control" />
                            </div>

                            <div class="form-group">
                                <!-- <span><img src="~/images/email_black.png" /></span> -->
                                <input asp-for="Email" type="email" placeholder="Email" />
                            </div>

                            <div class="form-group">
                                <!-- <span><img src="~/images/eyePassword.png" onmouseover="mouseoverPass();" onmouseout="mouseoutPass();" /></span> -->
                                <input asp-for="Password" type="password" placeholder="Password" id="passwordInput" size="30" />
                            </div>

                            <div class="form-group">
                                <!-- <span><img src="~/images/eyePassword.png" onmouseover="mouseoverPass2();" onmouseout="mouseoutPass2();" /></span> -->
                                <input asp-for="ConfirmPassword" type="password" placeholder="Confirmar password" id="passwordInput2" size="30" />
                            </div>

                            <div class="form-group">
                                <input type="submit" value="@ViewData["Title"]" class="btn btn-primary submitButton" />
                            </div>

                            <div asp-validation-summary="All" class="text-danger"></div>

                            @if (TempData["Success"] != null)
                            {
                                <div>@TempData["Success"].ToString()</div>
                            }
                        </form>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

@section Styles {
    <link href="@Url.Content("~/css/login.css")" rel="stylesheet" type="text/css" />
}