﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<Person> SignInManager
@inject UserManager<Person> UserManager
@model GEscola.Models.Person

@{
    ViewData["Title"] = "Delete";
}

<div class="containerBox">

    <div id="tableContainer">

        <p class="tableTitle">Eliminar</p>

        <div class="centerTable">

            <div class="backBtn">
                <a asp-action="Index"><img src="~/images/back-button.png" alt="Back to List" /></a>
            </div>

            <p>Tem a certeza que pretende eliminar este utilizador?</p>

            <table>
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(model => model.Name)
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.Email)
                        </td>
                    </tr>
                </tbody>
            </table>

            <br /><br /><br />
            <div class="formContainer">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="Email" />
                    <button type="submit" class="btn btn-primary">Eliminar</button>
                </form>
            </div>

        </div>

    </div>

</div>