﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<Person> SignInManager
@inject UserManager<Person> UserManager
@model GEscola.Models.Person

@{
    ViewData["Title"] = "Edit";
}

<div class="containerBox">

    <div id="tableContainer">

        <p class="tableTitle">Editar</p>

        <div class="centerTable">

            <div id="info">

                <div class="infoContainer">

                    <div class="header">
                        <ul class="options reverse">
                            <li>
                                <div class="redirectButton small">
                                    <a asp-action="Index"><img src="~/images/arrow_back_white.png" alt="Redirect" /></a>
                                </div>
                            </li>

                            <li>
                                <p class="title">Utilizador</p>
                            </li>
                        </ul>
                    </div>

                    <div class="main">

                        <form asp-action="Edit" method="post" id="editUC">

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <input type="hidden" asp-for="Id" />
                            <input type="hidden" asp-for="SchoolName" />
                            <input type="hidden" asp-for="LectiveYearName" />

                            <div class="form-group">
                                <label asp-for="Name">Nome</label>
                                <input asp-for="Name" type="text" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Email"></label>
                                <input asp-for="Email" class="form-control" readonly="readonly" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="SecondaryEmail"></label>
                                <input asp-for="SecondaryEmail" type="text" class="form-control" />
                                <span asp-validation-for="SecondaryEmail" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <input type="submit" value="Guardar" class="btn btn-primary submitButton" />
                            </div>
                        </form>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

<!--
<div class="containerBox">

    <div class="formContainer">

        <form asp-action="Edit" method="post" id="editUC">

            <div class="headerLog">
                <center><span><b>Editar</b></span></center>
            </div>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input class="txtCourseName" asp-for="Name" type="text" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SchoolName" class="control-label"></label>
                <input class="selectCourse" asp-for="SchoolName" type="text" />
                <span asp-validation-for="SchoolName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input class="txtareaCourse" asp-for="Email" type="text" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Guardar</button>

        </form>

    </div>

    <div class="backBtn">
        <a asp-action="Index"><img src="~/images/back-button.png" alt="Back to List" /></a>
    </div>
</div>

-->
