﻿@model GEscola.Models.LectiveYearViewModel

@{
    ViewData["Title"] = "Criação de um novo ano letivo";
}

<div class="containerBox">

    <div class="formContainer">

        <div id="profileContainer">

            <div>
                <center>
                    <span><b>@ViewData["Title"]</b></span>
                    <br/>
                </center>
            </div>
            
            @if (User.IsInRole("Admin"))
            {
                <form asp-controller="Users" asp-action="NewLectiveYear">

                    <h1>Tem a certeza que deseja iniciar um novo ano letivo?</h1>
            
                    <div class="form-group">
                        <label class="no-margin">Nome para o Novo Ano Letivo</label>
                        <input asp-for="NewLectiveYear" type="text" placeholder="(Ex: 2020/2021)" />
                    </div>

                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input style="width:auto" id="changePassword" type="submit" value="Iniciar Novo Ano Letivo" class="btn btn-primary" />
                </form>
            }
            <center>
                <a class="btn btn-primary" style="background-color:red; font-size:20px" asp-controller="Home" asp-action="Index">Cancelar</a>
            
                <div id="warningRectangle">
                    <p>Ao efetuar esta esta operação serão apagadas todas as Aulas e Faltas de Alunos</p>
                    <p>As Turmas e as Pautas de Avaliações serão colocadas em histórico</p>
                </div>
            </center>
            <br/>

        </div>
    </div>
</div>



@section Styles {
    <link href="@Url.Content("~/css/register.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/newYear.css")" rel="stylesheet" type="text/css" />
}
