﻿@model IEnumerable<GEscola.Models.Person>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<Person> SignInManager
@inject UserManager<Person> UserManager

@{
    ViewData["Title"] = "Index";
}

<div class="containerBox">

    <div id="tableContainer">

        <p class="tableTitle">Lista de Professores</p>

        <div class="centerTable">

            <div id="tableOptions">
                @if (User.IsInRole("Admin"))
                {
                    <div class="backBtn">
                        <a asp-action="CreateTeacher"><img src="~/images/add.png" alt="Create New" /></a>
                    </div>
                }
                <div id="filtersBox">
                    <ul class="filters">
                        <li>
                            <a asp-action="Index">Todos</a>
                        </li>

                        <li>
                            <a asp-action="Students">Alunos</a>
                        </li>

                        <li class="choosen">
                            <a asp-action="Teachers">Professores</a>
                        </li>

                        <li>
                            <a asp-action="DTs">DT's</a>
                        </li>
                    </ul>
                </div>
            </div>


            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Escola</th>
                        <th>Detalhes</th>
                        @if (User.IsInRole("Admin"))
                        {
                            <th>Editar</th>
                            <th>Eliminar</th>
                        }
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SchoolName)
                            </td>
                            <td>
                                <a asp-controller="Profile" asp-action="Profile" asp-route-email="@item.Email.Replace("@", " ").Replace(".", "^")"><img src="~/images/info.png" alt="Details" /></a>
                            </td>
                            @if (User.IsInRole("Admin"))
                            {
                                <td>
                                    <a asp-action="Edit" asp-route-id="@UserManager.FindByEmailAsync(item.Email).Result.Id"><img src="~/images/edit.png" alt="Edit" /></a>
                                </td>
                                <td>
                                    <a asp-action="Delete" asp-route-id="@UserManager.FindByEmailAsync(item.Email).Result.Id"><img src="~/images/delete.png" alt="Delete" /></a>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>

        </div>

    </div>
</div>