﻿@model GEscola.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Alterar palavra-passe";
}

<div class="containerBox">

    <div class="formContainer2">

        <div id="changePwdContainer">

            <div class="newDiv3">
                <center>
                    <span class="changePassTxt"><b>Alterar palavra-passe</b></span>

                    <form asp-controller="Profile" asp-action="ChangePassword" asp-route-id="@Model" class="formChangePwd">

                        <div class="inputDiv">
                            <div class="iconContainer">
                                <span><img src="~/images/eyePassword.png" onmouseover="mouseoverPass();" onmouseout="mouseoutPass();" /></span>
                            </div>

                            <div class="inputContainer">
                                <input asp-for="OldPassword" type="password" placeholder="Password atual" id="passwordInput" size="30" />
                            </div>
                        </div>

                        <div class="inputDiv">
                            <div class="iconContainer">
                                <span><img src="~/images/eyePassword.png" onmouseover="mouseoverPass2();" onmouseout="mouseoutPass2();" /></span>
                            </div>

                            <div class="inputContainer">
                                <input asp-for="NewPassword" type="password" placeholder="Nova password" id="passwordInput2" size="30" />
                            </div>
                        </div>

                        <div class="inputDiv">
                            <div class="iconContainer">
                                <span><img src="~/images/eyePassword.png" onmouseover="mouseoverPass3();" onmouseout="mouseoutPass3();" /></span>
                            </div>

                            <div class="inputContainer">
                                <input asp-for="ConfirmPassword" type="password" placeholder="Confirmar nova password" id="passwordInput3" size="30" />
                            </div>
                        </div>

                        <div class="btnChangeSize">
                            <button type="submit" class="btn btn-primary">Alterar password</button>
                        </div>

                        <div asp-validation-summary="All" class="text-danger"></div>

                    </form>
                </center>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@section Styles {
    <link href="@Url.Content("~/css/login.css")" rel="stylesheet" type="text/css" />
}
