﻿@model GEscola.Models.Users

@{
    ViewData["Title"] = "Perfil";
}

<div class="containerBox">
    <div class="formContainer">

        <div class="infoDiv">

            @if (TempData["Success"] != null)
            {
                <h4>@TempData["Success"].ToString()</h4>
            }

            <div id="profileImageContainer" class="profilePicDiv">
                <center>
                    <div class="loginImage"></div>
                    <span><b>@ViewData["Title"]</b></span>

                    @if (User.Identity.Name.Equals(@Model.person.Email))
                    {
                        <div class="btnChangeSize" id="changePwdDiv">
                            <a id="changePassword" asp-action="ChangePassword" asp-route-id="@Model.person">Alterar Senha</a>
                        </div>
                    }
                    @if (TempData["Success"] != null)
                    {
                        <h6 style="margin-top:20px">@TempData["Success"].ToString()</h6>
                    }
                </center>
            </div>

            <div class="userInfoDiv">

                <div class="form-group">
                    <label><b>Nome:</b> @Model.person.Name</label>
                </div>

                <div class="form-group">
                    <label><b>Escola:</b> @Model.person.SchoolName</label>
                </div>
                <div class="form-group">
                    <label><b>Email:</b> @Model.person.Email</label>
                </div>
                @if (@Model.person.SecondaryEmail != null)
                {
                    <div class="form-group">
                        <label><b>Email Secundário:</b> @Model.person.SecondaryEmail</label>
                    </div>
                }
                @if (Model.role.Equals("Student"))
                {
                    <div class="form-group">
                        <label><b>Data de nascimento:</b> @Model.person.Birthdate.ToShortDateString()</label>
                    </div>
                }

                @if (User.IsInRole("Admin") && Model.role.Equals("Student"))
                {
                    <div class="form-group">
                        <label><b>PIN Parental:</b> @Model.person.ParentalPIN </label>
                    </div>}
                @if (User.IsInRole("Admin") && Model.role.Equals("Admin"))
                {
                    @if (@ViewBag.averageSchoolGrades == null || Double.IsNaN(@ViewBag.averageSchoolGrades))
                    {
                        <div class="form-group">
                            <label><b>Média de notas da escola:</b> Ainda sem notas atribuídas.</label>
                        </div>
                    }
                    else
                    {
                        <div class="form-group">
                            <label><b>Média de notas da escola:</b> @ViewBag.averageSchoolGrades</label>
                        </div>
                    }

                    <div class="form-group">
                        <label><b>Ano Letivo atual:</b> @Model.person.LectiveYearName</label>
                    </div>
                    <center>
                        <div class="btnChangeSize" id="createNewYeardiv">
                            <a id="createNewYear" asp-controller="Users" asp-action="NewLectiveYear">Iniciar novo Ano Letivo</a>
                        </div>
                    </center>
                }
                else if (User.IsInRole("Student") && Model.role.Equals("Student"))
                {
                    @if (@ViewBag.averageSelfGrades == null || Double.IsNaN(@ViewBag.averageSelfGrades))
                    {
                        <div class="form-group">
                            <label><b>Média de notas da escola:</b> Ainda sem notas atribuídas.</label>
                        </div>
                    }
                    else
                    {
                        <div class="form-group">
                            <label><b>Média de notas da escola:</b> @ViewBag.averageSelfGrades </label>
                        </div>
                    }
                }

                @if (User.IsInRole("Admin") && Model.role.Equals("Student"))
                {
                    <form class="generatePIN" asp-controller="Users" asp-action="GerarParentalPIN" asp-route-email="@Model.person.Email.Replace("@", " ").Replace(".", "^")">
                        <input type="submit" value="Gerar Novo PIN" class="btn btn-primary" />
                    </form>
                }
            </div>
                </div>

        <center>

            @if (User.Identity.Name.Equals(@Model.person.Email))
            {
                <div class="btnChangeSize" id="changePwdDiv2">
                    <a id="changePassword" asp-action="ChangePassword">Alterar Senha</a>
                </div>
            }
            @if (User.IsInRole("Admin") && Model.role.Equals("Admin"))
            {
                <div class="btnChangeSize" id="createNewYeardiv2">
                    <a id="createNewYear" asp-controller="Users" asp-action="NewLectiveYear">Iniciar novo Ano Letivo</a>
                </div>
            }
        </center>
    </div>
</div>

@section Styles {
    <link href="@Url.Content("~/css/register.css")" rel="stylesheet" type="text/css" />
}
