﻿body {
    background: #f3f4f5;
    color: #777;
    padding: 4em;
    font-family: sans-serif;
    line-height: 1.15;
}

hr { /*dummy content*/
    height: 6px;
    border: none;
    background: rgba(0, 0, 0, 0.1);
}

    hr:last-child { /*dummy content*/
        margin-right: 60%;
    }

    hr.image { /*dummy content*/
        padding-bottom: 50%;
    }

.page {
    padding: 2em;
    max-width: 1100px;
}

.archive {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-gap: 1em;
}

.article {
    padding: 1em;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 20px 20px rgba(0, 0, 0, 0.05);
}

#classesDetails {
    margin-right: 25px;
}

.create {
    padding-left: 20px;
}


#tableContainer {
    grid-column: 1/3;
    grid-row: 1/3;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
}

.centerTableNew {
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-self: center;
}

.centerTableNew img {
    width: 30px;
    height: 30px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media only screen and (max-width: 576px) {
    .centerTableNew {
        width: 0%;
        display: flex;
        flex-direction: unset;
        align-content: center;
        justify-content: center;
        align-self: center;
    }
}
