﻿

@keyframes welcome {
    from {
        transform: translate(0px, 100vh);
    }
    to {
        transform: translate(0px, 0vh);
    }
}

.welcomeAnimation {
    animation-name: welcome;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}