﻿

/* Back button */
.backBtn {
    width: 200px !important;
    display: flex;
    align-items: center;
}

.backBtn a {
    display: flex;
    align-items: center;
}

.backBtn img {
    width: 30px;
    height: auto;
    transition-property: transform;
    transition-duration: 0.3s;
}

.backBtn:hover img {
    transform: scale(1.2);
}

/* Option icon button */
.iconBtn {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconBtn a {
    display: flex;
    align-items: center;
}

.iconBtn img {
    width: 30px;
    height: auto;
    transition-property: transform;
    transition-duration: 0.3s;
}

.iconBtn:hover img {
    transform: scale(1.2);
}

/* Redirect Button */
.redirectButton {
    width: 70px;
    height: 35px;
    background-color: rgba(39, 140, 112, 1);
    margin-top: 6px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px #000000;
    transition-property: background-color;
    transition-duration: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.redirectButton.small {
    width: 35px;
    margin-top: 0px;
}

.redirectButton:hover {
    background-color: rgba(39, 140, 112, 0.9);
}

.redirectButton a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.redirectButton a img {
    width: 25px;
    height: auto;
}

/* Normal Input Button */
.normalInputButton {
    width: 40px;
    height: 35px;
    background-color: rgba(39, 140, 112, 1);
    border: none;
    border-radius: 3px;
    font-family: Roboto, sans-serif;
    font-weight: 600;
    color: #ffffff;

    cursor:pointer;

    transition-property:background-color;
    transition-duration:0.2s;

    display:flex;
    justify-content:center;
    align-items:center;
}

.normalInputButton.medium {
    width: 140px;
}

.normalInputButton.big {
    width: 240px;
}

.normalInputButton:hover {
    background-color: rgba(39, 140, 112, 0.9);
}

/* GoBack button */
.goBack {
    position:absolute;
    top:0px;
    right:0px;

    width: 40px;
    height: 40px;
    margin:15px;

    background-color: #428C77;
    border-radius:100%;
    box-shadow:0px 0px 3px #000000;

    transition-property:transform;
    transition-duration:0.6s;

    display:flex;
    justify-content:center;
    align-items:center;
}

.goBack:hover {
    transform:rotate(180deg);
}

.goBack a {
    width:100%;
    height:100%;

    cursor:pointer;

    display:flex;
    justify-content:center;
    align-items:center;
}

.goBack a img {
    width:30px;
    height:auto;
}