﻿
.portaCartao {
    padding: 30px;
    width: 480px;
    height: 300px;
    box-sizing: unset !important;
}

.cartao {
    position: absolute;
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: all 500ms linear;
    border-style: solid;
    border-color: #8abfac;
    box-shadow: 0px 1px 10px 10px #8abfac;
    /*box-shadow: -5px 5px 5px #aaa;
    animation: girar 5s infinite ease-out both;*/
    transform: translate3d(0,0,0);
}

.portaCartao:hover .cartao {
    transform: rotateY(180deg);
    box-shadow: 5px 5px 5px #aaa;
}

.lado {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: translate3d(0,0,0);
    background-color: #efefef;
    cursor: e-resize;
}

    /* Inverte o lado do verso para que só apareça quando o cartão for virado*/
    .lado.verso {
        transform: rotateY(180deg);
        cursor: w-resize;
        text-align: center;
    }

@keyframes girar {
    0%, 40% {
        transform: rotateY(0deg);
    }

    50%, 90% {
        transform: rotateY(180deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}

.cartao {
    font-family: Arial;
    font-size: 10px;
    color: #666666;
}

    .cartao .lado.frente {
        text-align: center;
        vertical-align: top;
    }

        .cartao .lado.frente .info {
            position: absolute;
            line-height: 300px;
            width: 100%;
            height: 100%;
        }

        .cartao .lado.frente h1 {
            font-size: 3em;
        }

        .cartao .lado.frente p {
            font-size: 1.5em;
            transform: translate3d(0,2em,0);
        }

    .cartao .lado.verso p {
        font-size: 1.5em;
        text-align: center;
        vertical-align: central;
    }

.centerCard {
    justify-content: center;
    align-items: center
}

.backBtn {
    width: 200px !important;
    padding-left: 20px;
    /*display: flex;
    align-items: center;*/
}

#tableContainer {
    grid-column: 1/3;
    grid-row: 1/3;
    height: 100vh;
    padding: 0px 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
}

.centerTableGrid {
    width: 100%;
    display: grid;
    flex-direction: unset;
    align-content: center;
    justify-content: center;
    align-self: center;
}

    .centerTableGrid img {
        width: 30px;
        height: 30px;
    }

.containerBox {
    padding-top: 0px;
    grid-column: 2/3;
    grid-row: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr;
    height: 100%;
}
