﻿

dl {
    border: 3px double #ccc;
    padding: 0.5em;
}

dt {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 1.2em;
    color: #7a7a7a;
    margin-top: 0px;
    cursor: context-menu;

    float: left;
    clear: left;
    width: 200px;
    text-align: right;
    font-weight: bold;
}

dt::after {
    content: ":";
}

dd {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.2em;
    cursor: context-menu;
    width: 200px;
    margin-left: 110px;
    padding: 0 0 0.5em 0;
    margin-top: 20px;
}
