﻿.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #278C70;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: thin solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #eee;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #8abfac;
}

.pointer {
    cursor: pointer;
}

#tableContainer2 {
    width: 40%;
}

.box {
    margin-top: 30%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 300px;
    background: transparent;
    border-bottom: thin solid #49cca8;
    border-left: thin solid #49cca8;
    display: flex;
}

.box .skill {
    position: relative;
    flex: 1;
    text-align: center;
}

.box .skill .graph {
    position: absolute;
    width: 40px;
    background: #ced0d0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.box .skill .graph:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 0;
}

.box .skill .graph:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, .1);
}

.box .skill .graph .percent {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #000;
    font-weight: bold;
}

.box .skill .name {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #000;
    padding: 2px 6px;
    border-radius: 4px;
}

#names {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 650%);
    text-align: center;
    color: #000;
    border-radius: 4px;
}

.name {
    padding-top: 5px;
}

#tableContainer h3 {
    font-family: Roboto, sans-serif;
    font-size: 1.2em;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
}


@media screen and (max-width: 994px) {
    .box {
        margin-top: 30%;
        margin-left: 50%;
        transform: translate(-50%, -50%);
        width: 250px;
        height: 100px;
        background: transparent;
        border-bottom: thin solid #49cca8;
        border-left: thin solid #49cca8;
        display: flex;
    }

    #tableContainer h3 {
        font-family: Roboto, sans-serif;
        font-size: 1em;
        margin-bottom: 50px;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .styled-table {
        border-collapse: collapse;
        margin: 0px 0;
        font-size: 0.9em;
        font-family: sans-serif;
        min-width: 400px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }

    .centerTable table{
    }

    #centerTableEval {
        transform: translate(-200%, 0%);
    }

    #names {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 250%);
        text-align: center;
        color: #000;
        border-radius: 4px;
    }
}