﻿
.formContainer {
    grid-column:1/4;
    grid-row:1/3;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    width:100%;
    height:100%;
}

.formContainer img {
    width:30px;
}

.formContainer span, .detailsCourse span {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.8em;
    margin-bottom: 20px;
}

.detailsCourse p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    margin-bottom: 20px;
}

.formContainer .table {
    display:flex;
    align-items:center;
    justify-content:center;
}

.formContainer form {
    width: auto !important;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formContainer .form-group {
    display:flex;
    flex-direction:column;
    margin-bottom:0.5rem;
}

.formContainer .control-label {
    margin-top:0px;
}

.formContainer input, .formContainer select {
    border: none;
    border-radius: 4px;
    width: 300px;
    height: 40px;
    padding: 1px;
    padding-left: 7px;
    padding-right: 10px;
    float: right;
    font-size: 20px;
    margin-bottom: 10px;
}

.formContainer .txtCourseName {
    width: 500px;
}

.formContainer input:focus {
    outline: none;
}

.formContainer button {
    border: none;
    border-radius: 8px;
    width: 80px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #428C77;
    color: #ffffff;
    box-shadow: 1px 1px 5px #000000;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 15px;
    cursor: pointer;
    transition-duration: 0.5s;
}

.formContainer button:hover {
    box-shadow: 0px 0px 5px #000000;
}

.formContainer a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin-top: 7px;
    transition-property: all;
    transition-duration: 0.5s;
}

.formContainer a:hover {
    text-decoration: underline;
    cursor: pointer;
}


/* Inputs dedicados ao Login e Registo */
.inputDiv {
    width: 360px;
    height: 42px;
    background-color: #ECEEEF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    margin-bottom: 25px;
    text-align: center;
    font-size: medium;
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-template-rows: 1fr 1fr;
}

.inputDiv .iconContainer {
    grid-column: 1/2;
    grid-row: 1/3;
}

.inputDiv .inputContainer {
    grid-column: 2/3;
    grid-row: 1/3;
}

.inputDiv .iconContainer, .inputDiv .inputContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputDiv input {
    width: 100%;
    border: none;
    border-radius: 0px;
    height: 40px;
    margin: 0px;
    padding-left: 7px;
    padding-right: 10px;
    float: right;
    font-size: 20px;
}

.inputDiv span {
    height: auto;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}