﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap'); /* Permanent Marker */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap'); /* Lobster */

html {
    font-size: 14px;
}

body {
    background-color: #f3f4f5;
    margin: 0px;
    padding: 0px;
    height: 100vh;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.choosen {
    background-color: rgba(0, 0, 0, 0.3) !important;
}

.hidden {
    visibility:hidden !important;
}

.vanish {
    display:none !important;
}

.no-margin {
    margin:0px !important;
}

.no-padding {
    padding:0px !important;
}

.marginTop5 {
    margin-top:5px !important;
}

.square {
    width:50px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.textLogged {
    font-family: 'Lobster', sans-serif;
    font-size: 1.6em;
    font-weight: 400;
    color: #000000;
    margin-left: 10px;
    padding: 10px;
    padding-left: 15px;
    cursor: pointer;
    background-color: #ffffff;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: 1px 1px 5px #000000;

    transition-property:"box-shadow";
    transition-duration:0.5s;
}

.textLogged:hover {
    box-shadow: 2px 2px 10px #000000;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}


/* Sticky footer styles
-------------------------------------------------- */

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */




.editDetailsContainer a {
    border: none;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #428C77;
    color: #ffffff;
    box-shadow: 1px 1px 5px #000000;
    padding: 5px 10px 5px 10px;
    margin-top: 20px;
    margin-bottom: 15px;
    cursor: pointer;
    transition-duration: 0.5s;
    text-decoration: none;
}

/* List option menu */
#optionMenu {
    list-style: none;
    margin:0px;
    padding:0px;

    font-size:16px;
}

#optionMenu li {
    margin-bottom:20px;
}

#optionMenu li a {
    width: 200px;
    height: 70px;

    background-color: #278C70;

    font-family: "Roboto", sans-serif;
    font-size: 1.8em;
    color: #ffffff;

    border-radius: 10px;

    transition-property: "background-color";
    transition-duration: 0.5s;

    display: flex;
    justify-content: center;
    align-items: center;
}

    #optionMenu li a:hover {
        text-decoration: none;
        background-color: rgba(39,140,112,0.7);
    }

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}