﻿
#homeBox {
    grid-column: 1/3;
    grid-row: 1/3;
    height: 100vh;
    font-family: Roboto, sans-serif;
    font-size: 16px;

    overflow: hidden;
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

#homeBox #msg {
    grid-column:1/5;
    grid-row:2/4;

    display:flex;
    justify-content:center;
    align-items:center;
}

#homeBox #msg p {
    font-family: 'Lobster', sans-serif;
    font-size: 8em;
    color:#ffffff;

    transform:translate(0px, 100vh); /* Hidden just for animation */

    text-shadow:0px 0px 10px #000000;

    transition-property:text-shadow;
    transition-duration:0.3s;
}

#homeBox #msg p:hover {
    text-shadow: 1px 1px 15px #000000;
}

#homeBox ul {
    list-style: none;
}

#homeBox #navContainer {
    grid-column: 1/5;
    grid-row: 1/2;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#homeBox #navContainer .listContainer {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    justify-content: flex-end;
}

#homeBox #navContainer .listContainer ul {
    width:50%;
    height:100px;

    display:flex;
    flex-direction:row;
    justify-content:flex-end;
}

#homeBox #navContainer .listContainer ul li {
    margin-top:5px;
    margin-right:15px;

}

#homeBox #navContainer .listContainer ul li a {
    text-decoration: none;
    padding: 8px 20px;
    background-color: #428C77;
    color: #ffffff;
    border-radius: 4px;
    font-size:0.9em;

    transition-property:background-color, box-shadow;
    transition-duration:0.3s;
}

#homeBox #navContainer .listContainer ul li a:hover {
    background-color: rgba(66, 140, 119, 0.7);
    box-shadow:0px 0px 5px #000000;
}

#homeBox #homeContainer {
    grid-column: 1/2;
    grid-column: 2/3;
}


#backgroundContainer {
    grid-column: 1/5;
    grid-row: 1/5;

    z-index:-3;

    display:grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:1fr 1fr;
}

#backgroundContainer .backgroundOpacity {
    grid-column:1/3;
    grid-row:1/3;

    background-color: rgba(0,0,0,0.7);
    opacity: 0.4;
}

#backgroundContainer .backgroundImage {
    grid-column: 1/3;
    grid-row: 1/3;

    background-image: url("../images/school2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/*
.homeDiv {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.homeDiv img {
    border-radius: 5px;
}

.homeDiv button {
    border: none;
    border-radius: 8px;
    width: 80px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #428C77;
    color: #ffffff;
    box-shadow: 1px 1px 5px #000000;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 15px;
    cursor: pointer;
    transition-duration: 0.5s;
}
*/