﻿
#info {
    min-width:300px;
    width:100%;
    height:auto;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
}

#info ul, #info form {
    list-style:none;
    margin:0px 10px;
    padding:0px;
}

#info .infoContainer {
    width: 100%;
    height: 100%;
    font-size: 16px;
    padding: 5px;
    background-color: #ffffff;
    border-radius: 10px;

    box-shadow:0px 0px 3px #000000;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px auto;
}

#info .infoContainer .header {
    grid-column: 1/3;
    grid-row: 1/2;

    border-bottom:1px solid #000000;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
}

#info .infoContainer .header .title {
    grid-column: 1/3;
    grid-row: 1/3;

    margin:0px;
    padding:0px 10px;

    font-family:Roboto, sans-serif;
    font-size:1.4em;
    font-weight:600;

    display:flex;
    align-items:center;
}

#info .infoContainer .header ul.options {
    grid-column: 4/5;
    grid-row: 1/3;

    height:100%;

    display:flex;
    flex-direction:row-reverse;
}

#info .infoContainer .header ul.options.reverse {
    grid-column: 1/3;
    grid-row: 1/3;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items:center;
}

#info .infoContainer .main {
    grid-column: 1/3;
    grid-row: 2/3;

    margin-top:5px;
    margin-bottom:5px;

    display:flex;
    flex-direction:column;
}

#info .infoContainer .main ul li {
    margin-top: 13px;
}

#info .infoContainer .main ul li p, .noInput p {
    height:27px;

    display:flex;
    align-items:center;
}

#info .infoContainer .main form .form-group {
    margin-top: 13px;

    display:flex;
    flex-direction:column;
}

/* Form Label */
#info .infoContainer .main ul li label, #info .infoContainer .main form .form-group label, .noInput label {
    font-family: Roboto, sans-serif;
    font-size: 0.8em;
    font-weight: 600;
    color: #278C70;
}

#info .infoContainer .main form .form-group label {
    margin-top:0px;
}

/* Form Input */
#info .infoContainer .main ul li p, #info .infoContainer .main form .form-group input:not(.normalInputButton), .noInput p {
    font-family: Roboto, sans-serif;
    font-size: 1.4em;
    margin: 0px;
}

.infoContainer .main form .form-group input:not(.normalInputButton) {
    outline: none;
    border: hidden;
    border-bottom: 1.5px solid #000000;
}

/* Form Textarea */
.infoContainer .main form .form-group textarea {
    resize: none;
    height: 50px;
}

.infoContainer .main form .form-group input:focus, .infoContainer .main form .form-group textarea:focus {
    border-color: #278C70;
}

/* Submit Button */
.infoContainer .main form .form-group .submitButton {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;

    transition-property:background-color;
    transition-duration:0.3s;
}

.infoContainer .main form .form-group button.submitButton {

}

.infoContainer .main form .form-group .submitButton:hover {
    background-color: rgba(27, 110, 194, 0.9);
}

/* Form Select */
.infoContainer .main form .form-group .select {
    max-width: 400px;
    width:65%;
    margin: 0px;
    font-family: Roboto, sans-serif;
    font-size: 1.2em;
    border: 1px solid #000000;
    border-radius: 2px;
    outline: none;
    border-bottom: 1.5px solid #000000;
}

/* Form Checkbox options */
.infoContainer .main form .form-group .checkboxOptions {
    resize: none;
    border: none;
    border-radius: 4px;
    width: 500px;
    height: auto;
    float: right;
    font-size: 20px;
    background-color: #FFFFFF;
}

/* New box */
.infoContainer .main .newBox {
    max-width:100%;
    background:#f1f1f1;
    margin-top:16px;
    padding:5px;
    border-radius:5px;
}

.infoContainer .main .newBox.reverse {
    display:flex;
    flex-direction: column;
}

.infoContainer .main .newBox .form-group:first-child {
    margin-top:3px !important;
}

.infoContainer .main .newBox input.f1f1f1 {
    background-color:#f1f1f1;
}

/* Add input box */
.infoContainer .main .addInput {
    width:100%;

    display:flex;
    flex-direction:row;
}

.infoContainer .main .addInput input {
    margin-right:5px !important;
}

/* Choice ul */
.infoContainer .main ul.choice {
    display:flex;
    flex-direction:column;
}

.infoContainer .main ul.choice li {
    width:30%;
    min-width:350px;
    height:60px;

    box-shadow:0px 0px 3px #000000;
    border-radius:5px;

    transition-property:box-shadow;
    transition-duration:0.3s;
}

.infoContainer .main ul.choice li:hover {
    box-shadow:0px 0px 5px rgba(39, 140, 112, 1);
}

.infoContainer .main ul.choice li a {
    text-decoration:none;
    width:100%;
    height:100%;

    display:grid;
    grid-template-columns:70px auto;
    grid-template-rows:1fr 1fr;
}

.infoContainer .main ul.choice li a .containerIllustration {
    grid-column:1/2;
    grid-row:1/3;

    display:flex;
    justify-content:center;
    align-items:center;
}

.infoContainer .main ul.choice li a .containerText {
    grid-column:2/3;
    grid-row:1/3;

    padding-left:30px;

    display:flex;
    justify-content:flex-start;
    align-items:center;
}

.infoContainer .main ul.choice li a .containerText p {
    margin:0px;
    color:#000000;

    transition-property:transform, color;
    transition-duration:0.3s;
}

.infoContainer .main ul.choice li:hover a .containerText p {
    color:rgba(39, 140, 112, 1);
    transform:scale(1.1);
}

.infoContainer .main ul.choice li a .containerIllustration .image {
    width:100%;
    height:100%;

    border-top-left-radius:4px;
    border-bottom-left-radius:4px;

    transition-property:background;
    transition-duration:0.3s;
}

.infoContainer .main ul.choice li a .containerIllustration .image.student {
    background-image:url(../images/student_image.jpg);
    background-repeat:no-repeat;
    background-position:center;
    background-size:100%;
}

.infoContainer .main ul.choice li a .containerIllustration .image.teacher {
    background-image:url(../images/teacher_image.jpg);
    background-repeat:no-repeat;
    background-position:center;
    background-size:100%;
}

.infoContainer .main ul.choice li:hover a .containerIllustration .image {
    background-size:120%;
}