﻿/*
#428C77
#C7D9D4
#8abfac
*/

.login {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login .header {
    margin-bottom:20px;
}

.padding-top-50 {
    padding-top: 50px;
}

.padding-bot-50 {
    padding-bottom: 50px;
}

.name {
    margin-top: 20px;
}

.courseTitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.8em;
    margin-bottom: 20px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.inputDiv {
    width: 360px;
    height: 42px;
    background-color: #ECEEEF;
    border: 1px solid #DDDDDD;
    border-radius:4px;
    margin-bottom: 25px;
    text-align: center;
    font-size: medium;

    display:grid;
    grid-template-columns:40px 1fr;
    grid-template-rows:1fr 1fr;
}

.inputDiv .iconContainer {
    grid-column:1/2;
    grid-row:1/3;
}

.inputDiv .inputContainer {
    grid-column:2/3;
    grid-row:1/3;
}

.inputDiv .iconContainer, .inputDiv .inputContainer {
    display:flex;
    justify-content:center;
    align-items:center;
}

.inputDiv input {
    width: 100%;
    border: none;
    border-radius: 0px;
    height: 40px;
    margin: 0px;
    padding-left: 7px;
    padding-right: 10px;
    float: right;
    font-size: 20px;
}

.inputDiv span {
    height: auto;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}








.loginImage {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    background-image: url('../images/login.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.selectCourse {
    border: none;
    border-radius: 4px;
    width: 300px;
    height: 40px;
    padding: 1px;
    padding-left: 7px;
    padding-right: 10px;
    float: left;
    font-size: 20px;
    margin-bottom: 10px;
}

.courseUCS {
    resize: none;
    border: none;
    border-radius: 4px;
    width: 500px;
    height: auto;
    padding: 1px;
    padding-left: 7px;
    padding-right: 10px;
    float: right;
    font-size: 20px;
    margin-bottom: 10px;
    background-color: #FFFFFF;
}

.txtareaCourse {
    resize: none;
    border: none;
    border-radius: 4px;
    width: 500px;
    height: auto;
    padding: 1px;
    padding-left: 7px;
    padding-right: 10px;
    float: right;
    font-size: 20px;
    margin-bottom: 10px;
}

footer {
    grid-column: 1/5;
    grid-row: 3/4;
}

.form-group label {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 1.2em;
    color: #7a7a7a;
    margin-top: 20px;
    cursor: context-menu;
}

.btnChangeSize button {
    border: none;
    border-radius: 8px;
    width: 150px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #428C77;
    color: #ffffff;
    box-shadow: 1px 1px 5px #000000;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 15px;
    cursor: pointer;
    transition-duration: 0.5s;
}

.btnChangeSize button:hover {
    box-shadow: 0px 0px 5px #000000;
}

.centerContainer form {
    align-items: center !important;
}

.editDetailsContainer a {
    border: none;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #428C77;
    color: #ffffff;
    box-shadow: 1px 1px 5px #000000;
    padding: 5px 10px 5px 10px;
    margin-top: 20px;
    margin-bottom: 15px;
    cursor: pointer;
    transition-duration: 0.5s;
    text-decoration: none;
}
