﻿
/* Conjunto da navbar vertical com o containerBox */
main {
    margin-left: 0px;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 1fr 1fr;
}

/* Tem todo o conteudo da pagina que não pertença à barra navbar vertical */
.containerBox {
    /* padding-top: 100px; */
    grid-column: 2/3;
    grid-row: 1/3;
    
    /*
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    */

    display:grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:100px 1fr;

    height:100%;
}