﻿

nav {
    grid-column:1/2;
    grid-row:1/3;
    height: 100%; /* 100% Full-height */
    width: 250px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    visibility:visible;
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    /*background-color: #8abfac; Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0px; /* Place content 60px from the top */
}

.colorNav {
    background-color: #8abfac;
}

nav ul {
    font-size: 16px;
    list-style: none;
    padding: 0px;
}

/* The navigation menu links */
nav a {
    padding: 2px 8px 5px;
    text-decoration: none;
    font-size: 18px;
    color: #ffffff !important;
    display: block;
    transition: 0.3s;
}

nav ul li {
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 1px;
    padding-left: 30px;
    cursor: pointer;
}

nav ul li:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

#logoContainer {
    margin: 8px;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#logoContainer #logo {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin-right: 8px;
    background-image: url('../images/favicon.ico');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#logoContainer p {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 1.2em;
    color: #ffffff;
    margin-left: 6px;
    padding-top: 1px;
    cursor: context-menu;
    text-shadow: 0px 0px 5px #000000;
    transition-property: text-shadow;
    transition-duration: 0.2s;
}

#logoContainer:hover p {
    text-shadow: 0px 0px 10px #000000;
}

.headerLog {
    margin-bottom: 40px;
}

.logOut {
    position:absolute;
    bottom:15px;

    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
    padding-right: 100%;

    background:none;
    border:none;

    cursor:pointer !important;
}

.logOut:active {
    border:none;
    outline:none;
}

.logOut:focus {
    border: none;
    outline: none;
}

nav a:hover {
    color: #f1f1f1;
}

/* Welcome and LogOut */
#welcomeContainer {
    background-color:#ffffff;
    width:95%;

    margin-left:5%;

    border-top-left-radius:5px;
    border-bottom-left-radius:5px;

    box-shadow: 1px 1px 5px #000000;

    transition-property:"box-shadow";
    transition-duration:0.5s;

    display:grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows:1fr 1fr;
}

#welcomeContainer:hover {
    box-shadow: 2px 2px 10px #000000;
}

#welcomeContainer .textContainer {
    grid-column:1/4;
    grid-row:1/3;

    margin:5px;

    display:flex;
    justify-content:center;
    align-items:center;
}

#welcomeContainer .textContainer p {
    margin:0px;
    font-family: 'Lobster', sans-serif;
    font-size: 1.2em;
    font-weight: 400;
}

#welcomeContainer .logOutContainer {
    grid-column:4/5;
    grid-row:1/3;

    display:flex;
    justify-content:center;
    align-items:center;
}

#welcomeContainer .logOutContainer .logOutButton form {
    display:flex;
    justify-content:center;
    align-items:center;
}

#welcomeContainer .logOutContainer .logOutButton form button {
    padding:10px;
    
    cursor:pointer;

    background-color:transparent;
    border:none;

    display:flex;
    justify-content:center;
    align-items:center;
}

#welcomeContainer .logOutContainer .logOutButton form button:focus {
    outline:none;
}

#welcomeContainer .logOutContainer .logOutButton form button img {
    transition-property:transform;
    transition-duration:0.3s;
}

#welcomeContainer .logOutContainer .logOutButton form button:hover img {
    transform:scale(1.2);
}




/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    nav {
        padding-top: 15px;
    }

    nav a {
        font-size: 18px;
    }
}