﻿
/*#profileContainer, #changePwdContainer {
    width: auto !important;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#profileContainer .form-group, #changePwdContainer.form-group {
    display: flex;
    flex-direction: column;
}*/

.formContainer {
    grid-row: 3/3 !important;
}

#container2 {
    visibility: hidden;
}

.formContainer2 {
    grid-column: 1/4;
    grid-row: 3/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.changePassTxt {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.profilePicDiv, .userInfoDiv, .newDiv3 {
    background-color: white;
    border-radius: 20px;
}

.profilePicDiv {
    width: 35%;
    height: 400px;
    padding-top: 20px;
}

.userInfoDiv {
    width: 62%;
    padding-top: 30px;
}

.newDiv3 {
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 20px;
    width: 100%;
}

.form-group label {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 400 !important;
    font-size: 1.2em !important;
    color: #000000 !important;
    margin-top: 25px !important;
    margin-left: 20px !important;
    cursor: context-menu !important;
}

.infoDiv {
    padding-top: 20px;
    width: 50%;
    display: flex; /* establish flex container */
    flex-direction: row; /* default value; can be omitted */
    flex-wrap: nowrap; /* default value; can be omitted */
    justify-content: space-between; /* switched from default (flex-start, see below) */
}

#changePwdDiv, #createNewYeardiv {
    margin-top: 50px;
}

.formContainer button {
    width: auto;
}

.formChangePwd {
    margin-top: 10%;
}

#changePassword, #createNewYear {
    border: none;
    border-radius: 8px;
    width: 150px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #428C77;
    color: #ffffff;
    box-shadow: 1px 1px 5px #000000;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 15px;
    cursor: pointer;
    transition-duration: 0.5s;
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (max-width: 1300px) {
    .userInfoDiv {
        font-size: 10px;
    }

    .loginImage {
        width: 70%;
        height: 100px;
    }

    #changePwdDiv, #createNewYeardiv {
        visibility: hidden;
    }

    #changePwdDiv2, #createNewYeardiv2 {
        margin-top: 50px;
        visibility: visible;
    }

    .generatePIN input {
        margin-top: 10px;
        width: 50%;
        height: auto;
        font-size: 15px;
    }
}

@media screen and (max-width: 650px) {
    .userInfoDiv {
        font-size: 5px;
    }

    .loginImage {
        width: 50%;
        height: 40px;
    }

    .infoDiv {
        font-size: 10px;
    }

    #changePwdDiv, #createNewYeardiv {
        visibility: hidden;
    }

    #changePwdDiv2, #createNewYeardiv2 {
        margin-top: 50px;
        visibility: visible;
    }

    .generatePIN input {
        width: 80%;
        font-size: 10px;
    }
}

@media screen and (min-width: 900px) {
    #changePwdDiv, #createNewYeardiv {
        visibility: visible;
    }

    #changePwdDiv2, #createNewYeardiv2 {
        visibility: hidden;
    }
}
