﻿/*
#428C77
#C7D9D4
#8abfac
*/

h1 {
    margin: auto;
    justify-content: center;
    text-align: center;
    margin-bottom: 5px;
}

.register {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.register .header {
    margin-bottom: 20px;
}

.name {
    margin-top: 20px;
}

.inputDiv {
    width: 360px;
    height: 42px;
    background-color: #ECEEEF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    margin-bottom: 25px;
    text-align: center;
    font-size: medium;
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-template-rows: 1fr 1fr;
}

.inputDiv .iconContainer {
    grid-column: 1/2;
    grid-row: 1/3;
}

.inputDiv .inputContainer {
    grid-column: 2/3;
    grid-row: 1/3;
}

.inputDiv .iconContainer, .inputDiv .inputContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputDiv input {
    width: 100%;
    border: none;
    border-radius: 0px;
    height: 40px;
    margin: 0px;
    padding-left: 7px;
    padding-right: 10px;
    float: right;
    font-size: 20px;
}

.inputDiv span {
    height: auto;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
