﻿


/* Menu */
#menuButton {
    position:absolute;
    top:0px;
    left:0px;

    margin:20px;

    cursor:pointer;

    visibility:hidden;
    z-index:-100;

    display:flex;
    justify-content:center;
    align-items:center;
}

#menuButton a {
    width:100%;
    height:100%;

    display:flex;
    justify-content:center;
    align-items:center;
}

#menuButton a img {
    display:flex;
    justify-content:center;
    align-items:center;
}

#blackContainer {
    position:absolute;
    top:0px;
    left:0px;

    width:100%;
    height:100%;

    background-color:rgba(0, 0, 0, 0.6);
}

#blackContainer.hiddenContainer {
    visibility:hidden;
}

nav.showNav {
    visibility: visible;
    z-index: 1;
}

#menuButton.hiddenButton {
    visibility: hidden;
    z-index: -1;
}

@media screen and (max-width: 1000px) {
    .containerBox {
        grid-column: 1/3 !important;
    }

    #menuButton {
        visibility: visible;
        z-index: 100;
    }

    nav {
        visibility: hidden;
        z-index: -1;
    }
}

@media screen and (min-width: 1000px) {
    #blackContainer {
        visibility:hidden;
    }
}