﻿.circuloG {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    background: #8abfac;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px auto;

    padding: 1em;
    box-shadow: 0 5px 10px;
}

.circuloP {
    width: 14rem;
    height: 14rem;
    border-radius: 50%;
    background: #f3f4f5;
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px auto;

    padding: 1em;
    box-shadow: 0 5px 10px;
}

img {
    width: 30px;
    height: 30px;
}

.tableTitle {
    font-family: Roboto, sans-serif;
    font-size: 1.8em;
    margin-top: 60px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.backBtn {
    width: 200px !important;
    padding-left: 20px;
    /*display: flex;
    align-items: center;*/
}

.containerBox {
    /* padding-top: 100px; */
    grid-column: 2/3;
    grid-row: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr;
    height: 100%;
}

#tableContainer {
    grid-column: 1/3;
    grid-row: 1/3;
    height: 100vh;
    padding: 0px 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
}

.centerTable {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-self: center;
}

.divGeral {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-gap: 1em;
}