﻿/* Float four columns side by side */
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
    margin-top: 20px;
    width: 200px;
}

/* Remove extra left and right margins, due to padding */
.row {
    margin: 0 -5px;
}

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

/* Responsive columns */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
}

    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
/*
.container {
    padding: 2px 16px;
    width: 200px;
    height: 150px;
}

.container {
    margin-left: 5px;
    margin-right: 5px;
}
*/
.card .container {
    padding: 10px 0px !important;
    text-align: center;
}

.card h2 {
    color: #278C70;
}

.card hr {
    height: 3px;
    border-width: 0;
    color: #dddddd;
    background-color: #dddddd;
}

.classImg {
    width: 150px !important;
    height: 150px !important;
}

.iconsImage {
    width: 40px;
}

.iconsFSImage{
    margin-right: 10px;
}

.iconFirstImage{
    margin-right: 10%;
    margin-left: 10%;
}

.divIcons{
    padding-bottom: 10px;
}