﻿
#tableContainer {
    grid-column: 1/3;
    grid-row: 1/3;
    height: 100vh;

    padding:0px 100px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
}

#tableContainer .tableTitle {
    font-family: Roboto, sans-serif;
    font-size: 1.8em;
    margin-top: 60px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
}

/* Centraliza a tabela dentro da containerBox */
.centerTable {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-self: center;
}

.centerTable img {
    width: 30px;
    height: 30px;
}

.centerTable table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.tableTitle input {
    border:none;
    background-color:transparent;
}

/* table options */
#tableOptions {
    min-height:30px;
    margin:10px 0px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
}

#filtersBox {
    grid-column: 3/5;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#filtersBox ul {
    list-style: none;
}

.filters {
    margin: 0px;
    display: flex;
    flex-direction: row;
}

#filtersBox li {
    margin-left: 5px;
}

#filtersBox li a {
    background-color: #8abfac;
    padding: 6px 15px;
    border-radius: 4px;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

#filtersBox li:hover a {
    background-color: rgba(138, 191, 172, 0.8);
}

#filtersBox li.choosen a {
    background-color: #278C70;
}
