﻿@model GEscola.Models.SchoolClass

@{
    ViewData["Title"] = "Criar";
}


<div class="containerBox">

    <div id="tableContainer">

        <p class="tableTitle">Criar</p>

        <div class="centerTable">

            <div id="info">

                <div class="infoContainer">

                    <div class="header">
                        <ul class="options reverse">
                            <li>
                                <div class="redirectButton small">
                                    <a asp-action="Index"><img src="~/images/arrow_back_white.png" alt="Redirect" /></a>
                                </div>
                            </li>

                            <li>
                                <p class="title">Turma</p>
                            </li>
                        </ul>
                    </div>

                    <div class="main">

                        <form asp-action="Create">

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="form-group">
                                <label asp-for="Name"></label>
                                <input asp-for="Name" type="text" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label asp-for="CourseId"></label>
                                <select class="select" asp-for="CourseId" asp-items=@ViewBag.courses>
                                    <option>- Selecione -</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label asp-for="TeacherId"></label>
                                <select class="select" asp-for="TeacherId" asp-items=@ViewBag.teachers>
                                    <option value="null">- Selecione -</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <input type="submit" value="Criar" class="btn btn-primary submitButton" />
                            </div>

                            <div asp-validation-summary="All" class="text-danger"></div>
                        </form>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
@section Styles {
    <link href="@Url.Content("~/css/login.css")" rel="stylesheet" type="text/css" />
}
