﻿@model GEscola.Models.SchoolClassOP

@{
    ViewData["Title"] = "Detalhes";
}


<div class="containerBox">

    <div id="tableContainer">

        <p class="tableTitle">Detalhes</p>

        <div class="centerTable">

            <div id="info">

                <div class="infoContainer">

                    <div class="header">

                        <ul class="options reverse">
                            <li>
                                <div class="redirectButton small">
                                    <a asp-action="Index"><img src="~/images/arrow_back_white.png" alt="Redirect" /></a>
                                </div>
                            </li>

                            <li>
                                <p class="title">Turma</p>
                            </li>
                        </ul>

                        <ul class="options">
                            @if (User.IsInRole("Admin"))
                            {
                                <li class="iconBtn">
                                    <a asp-action="Edit" asp-route-id="@Model.SchoolClass.SchoolClassId"><img src="~/images/edit.png" alt="Editar" /></a>
                                </li>
                            }
                        </ul>
                    </div>

                    <div class="main">

                        <ul>
                            <li>
                                <label>Ano Letivo</label>
                                <p>@Html.DisplayFor(model => model.SchoolClass.LectiveYear)</p>
                            </li>

                            <li>
                                <label>Nome da turma</label>
                                <p>@Html.DisplayFor(model => model.SchoolClass.Name)</p>
                            </li>

                            <li>
                                <label>Nome do professor</label>
                                <p>@Html.DisplayFor(model => model.TeacherName)</p>
                            </li>

                            <li>
                                <label>Nome do curso</label>
                                <p>@Html.DisplayFor(model => model.CourseName)</p>
                            </li>

                            <li>
                                <label>Estudantes</label>

                                <table>
                                    <thead>
                                        <tr>
                                            <th>
                                                Nome
                                            </th>
                                            <th>
                                                Email
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (Person student in Model.StudentsList)
                                        {
                                            <tr>
                                                <td>
                                                    @student.Name
                                                </td>
                                                <td>
                                                    @student.Email
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </li>
                        </ul>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

@section Styles {
    <link href="@Url.Content("~/css/login.css")" rel="stylesheet" type="text/css" />
}