﻿@model GEscola.Models.SchoolClass

@{
    ViewData["Title"] = "Editar";
}

<div class="containerBox">

    <div id="tableContainer">

        <p class="tableTitle">Editar</p>

        <div class="centerTable">

            <div id="info">

                <div class="infoContainer">

                    <div class="header">
                        <ul class="options reverse">
                            <li>
                                <div class="redirectButton small">
                                    <a asp-action="Index"><img src="~/images/arrow_back_white.png" alt="Redirect" /></a>
                                </div>
                            </li>

                            <li>
                                <p class="title">Turma</p>
                            </li>
                        </ul>
                    </div>

                    <div class="main">

                        <form asp-action="Edit">

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <input type="hidden" asp-for="SchoolClassId" />
                            <input type="hidden" asp-for="SchoolName" />
                            <input type="hidden" asp-for="Students" />
                            <input type="hidden" asp-for="LectiveYear" />

                            <input type="hidden" id="oldTeacherId" name="oldTeacherId" value="@ViewContext.HttpContext.Request.Query["oldTeacherId"]" />

                            <div class="form-group">
                                <label asp-for="Name"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="CourseId"></label>
                                <select class="select" asp-for="CourseId" asp-items=@ViewBag.courses></select>
                            </div>

                            <div class="form-group">
                                <label asp-for="TeacherId"></label>
                                <select class="select" asp-for="TeacherId" asp-items=@ViewBag.teachers></select>
                            </div>

                            <div class="form-group">
                                <input type="submit" value="Guardar" class="btn btn-primary submitButton" />
                            </div>

                        </form>
                        <div class="newBox">
                            @using (Html.BeginForm("AddStudent", "SchoolClasses", FormMethod.Post))
                            {
                                <div class="form-group">
                                    <label>Adicionar Estudante</label>

                                    <div class="addInput">
                                        <input type="text" name="studentEmail" id="studentEmail" class="form-control f1f1f1" placeholder="Email" />
                                        <input type="hidden" name="id" id="id" value="@Model.SchoolClassId" />
                                        <input type="submit" value="+" class="normalInputButton" />
                                    </div>
                                </div>
                            }

                            <table class="marginTop5">
                                <thead>
                                    <tr>
                                        <th>Nome</th>
                                        <th>Email</th>
                                        <th>Remover</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (Person student in ViewBag.students)
                                    {
                                        <tr>
                                            <td>
                                                @student.Name
                                            </td>
                                            <td>
                                                @student.Email
                                            </td>
                                            <td>
                                                <a asp-action="RemoveStudent" asp-route-id="@Model.SchoolClassId" asp-route-studentEmail="@student.Email.Replace("@", " ").Replace(".", "^")"><img src="~/images/delete.png" alt="Delete" /></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@section Styles {
    <link href="@Url.Content("~/css/login.css")" rel="stylesheet" type="text/css" />
}

