﻿@model IEnumerable<GEscola.Models.SchoolClassOP>

@{
    ViewData["Title"] = "Turmas";
}

<div class="containerBox">

    <div id="tableContainer">

        <p class="tableTitle">Lista de turmas</p>

        <div class="centerTable">

            <div id="tableOptions">

                <div id="filtersBox">
                    <ul class="filters">
                        <li>
                            <a asp-action="Index">Ano Letivo Atual</a>
                        </li>

                        <li class="choosen">
                            <a>Histórico</a>
                        </li>
                    </ul>
                </div>
            </div>

            <table>
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.SchoolClass.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CourseName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TeacherName)
                        </th>
                        <th>
                            Detalhes
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.SchoolClass.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CourseName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TeacherName)
                            </td>
                            <td>
                                <a asp-action="Details" asp-route-id="@item.SchoolClass.SchoolClassId"><img src="~/images/info.png" alt="Details" /></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>