﻿@model IEnumerable<GEscola.Models.SchoolClassOP>

@{
    ViewData["Title"] = "Turmas";
}

<div class="containerBox">

    <div id="tableContainer">

        <p class="tableTitle">Turmas</p>

        <div class="centerTable">

            <div id="tableOptions">
                @if (User.IsInRole("Admin"))
                {
                    <div class="backBtn">
                        <a asp-action="Create"><img src="~/images/add.png" alt="Create New" /></a>
                    </div>
                }
            </div>
            <div id="filtersBox">
                <ul class="filters">
                    <li class="choosen">
                        <a>Ano Letivo Atual</a>
                    </li>

                    <li>
                        <a asp-action="Historic">Histórico</a>
                    </li>
                </ul>
            </div>

            <div class="row">

                @foreach (var item in Model)
                {
                    <div class="column">
                        <div class="card">
                            <center>
                                <div class="container">
                                    <h2><b>@Html.DisplayFor(modelItem => item.SchoolClass.Name)</b></h2>
                                    <p><b>@Html.DisplayFor(modelItem => item.CourseName)</b></p>
                                    <p>@Html.DisplayFor(modelItem => item.TeacherName)</p>
                                </div>

                                <img src="~/images/classroom2.png" alt="Avatar" class="classImg">

                                <hr>
                                <div class="divIcons">
                                    <a asp-action="Details" asp-route-id="@item.SchoolClass.SchoolClassId"><img src="~/images/info.png" alt="Details" /></a>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <a class="iconFirstImage" asp-action="Edit" asp-route-id="@item.SchoolClass.SchoolClassId"><img src="~/images/edit.png" alt="Edit" /></a>
                                        <a class="iconsImage" asp-action="Delete" asp-route-id="@item.SchoolClass.SchoolClassId"><img src="~/images/delete.png" alt="Delete" /></a>
                                    }
                                </div>
                            </center>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>

@section Styles {
    <link href="@Url.Content("~/css/schoolclasses.css")" rel="stylesheet" type="text/css" />
}