﻿@model GEscola.Models.CourseOP

@{
    ViewData["Title"] = "Create";
}

<div class="containerBox">

    <div id="tableContainer">

        <p class="tableTitle">Criar</p>

        <div class="centerTable">

            <div id="info">

                <div class="infoContainer">

                    <div class="header">
                        <ul class="options reverse">
                            <li>
                                <div class="redirectButton small">
                                    <a asp-action="Index"><img src="~/images/arrow_back_white.png" alt="Redirect" /></a>
                                </div>
                            </li>

                            <li>
                                <p class="title">Curso</p>
                            </li>
                        </ul>
                    </div>

                    <div class="main">

                        <form asp-action="Create">

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="form-group">
                                <label asp-for="@Model.Course.Name"></label>
                                <input asp-for="@Model.Course.Name" class="form-control" type="text" />
                            </div>

                            <div class="form-group">
                                <label asp-for="@Model.Course.CourseDuration"></label>
                                <input asp-for="@Model.Course.CourseDuration" type="number" class="form-control" min="1" max="5" />
                            </div>

                            <div class="form-group">
                                <label asp-for="@Model.Course.CourseType"></label>
                                <select class="select" asp-for="@Model.Course.CourseType" asp-items=@ViewBag.courseTypes>
                                    <option>- Selecione -</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label asp-for="@Model.ListCourseUCs" class="control-label"></label>
                                @if (ViewBag.UCs != null)
                                {
                                    <div class="checkboxOptions">
                                        @for (var i = 0; i < Model.ListCourseUCs.Count; i++)
                                        {
                                            <input type="checkbox" asp-for="@Model.ListCourseUCs[i].IsChecked" />
                                            <label asp-for=@Model.ListCourseUCs[i].IsChecked>@Model.ListCourseUCs[i].Name</label>
                                            <input type="hidden" asp-for="@Model.ListCourseUCs[i].Value" />
                                            <input type="hidden" asp-for="@Model.ListCourseUCs[i].Name" />
                                        }
                                    </div>
                                }
                                else
                                {
                                    <center>
                                        <p>Necessita de criar primeiramente as disciplinas que deseja adicionar ao curso</p>
                                        <a asp-controller="UCs" asp-action="Index">clique aqui para criar</a>
                                    </center>
                                }
                            </div>

                            <div class="form-group">
                                <label asp-for="@Model.Course.Description"></label>
                                <textarea asp-for="@Model.Course.Description"></textarea>
                            </div>

                            <div class="form-group">
                                <input type="submit" value="Criar" class="btn btn-primary submitButton" />
                            </div>

                            <div asp-validation-summary="All" class="text-danger"></div>

                        </form>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@section Styles {
    <link href="@Url.Content("~/css/login.css")" rel="stylesheet" type="text/css" />
}
