﻿@model GEscola.Models.Course

@{
    ViewData["Title"] = "Delete";
}

<div class="containerBox">

    <div id="tableContainer">

        <p class="tableTitle">Eliminar</p>

        <div class="centerTable">

            <div class="backBtn">
                <a asp-action="Index"><img src="~/images/back-button.png" alt="Back to List" /></a>
            </div>

            <p>Tem a certeza que pretende eliminar este curso?</p>

            <table>
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CourseType)
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(model => model.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.CourseType)
                        </td>
                    </tr>
                </tbody>
            </table>
            <br /><br /><br />
            <div class="formContainer">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="CourseId" />
                    <button type="submit" class="btn btn-primary">Eliminar</button>
                </form>
            </div>

        </div>

    </div>

</div>

@section Styles {
    <link href="@Url.Content("~/css/login.css")" rel="stylesheet" type="text/css" />
}

