﻿@model GEscola.Models.CourseOP

@{
    ViewData["Title"] = "Detalhes";
}


<div class="containerBox">

    <div id="tableContainer">

        <p class="tableTitle">Detalhes</p>

        <div class="centerTable">

            <div id="info">

                <div class="infoContainer">

                    <div class="header">

                        <ul class="options reverse">
                            <li>
                                <div class="redirectButton small">
                                    <a asp-action="Index"><img src="~/images/arrow_back_white.png" alt="Redirect" /></a>
                                </div>
                            </li>

                            <li>
                                <p class="title">Curso</p>
                            </li>
                        </ul>

                        <ul class="options">
                            <li class="iconBtn">
                                <a asp-action="Edit" asp-route-id="@Model.Course.CourseId"><img src="~/images/edit.png" alt="Editar" /></a>
                            </li>
                        </ul>
                    </div>

                    <div class="main">

                        <ul>
                            <li>
                                <label>Nome do Curso</label>
                                <p>@Html.DisplayFor(model => model.Course.Name)</p>
                            </li>

                            <li>
                                <label>Tipo</label>
                                <p>@Html.DisplayFor(model => model.Course.CourseType)</p>
                            </li>

                            <li>
                                <label>Duração (em anos)</label>
                                <p>@Html.DisplayFor(model => model.Course.CourseDuration)</p>
                            </li>

                            <li>
                                <label>Disciplinas</label>
                                <p>
                                    @for (var i = 0; i < Model.ListCourseUCs.Count; i++)
                                    {
                                        <input type="checkbox" asp-for="@Model.ListCourseUCs[i].IsChecked" disabled="disabled" />
                                        <label asp-for=@Model.ListCourseUCs[i].IsChecked>@Model.ListCourseUCs[i].Name</label><br>
                                    }
                                </p>
                            </li>

                            <li>
                                <label>Descrição</label>
                                <p>@Html.DisplayFor(model => model.Course.Description)</p>
                            </li>
                        </ul>

                    </div>
                </div>

            </div>

        </div>

    </div>

</div>


@section Styles {
    <link href="@Url.Content("~/css/login.css")" rel="stylesheet" type="text/css" />
}
