﻿@model GEscola.Models.CourseOP

@{
    ViewData["Title"] = "Editar";
}

<div class="containerBox">

    <div id="tableContainer">

        <p class="tableTitle">Editar</p>

        <div class="centerTable">

            <div id="info">

                <div class="infoContainer">

                    <div class="header">
                        <ul class="options reverse">
                            <li>
                                <div class="redirectButton small">
                                    <a asp-action="Index"><img src="~/images/arrow_back_white.png" alt="Redirect" /></a>
                                </div>
                            </li>

                            <li>
                                <p class="title">Curso</p>
                            </li>
                        </ul>
                    </div>

                    <div class="main">

                        <form asp-action="Edit">

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="@Model.Course.CourseId" />
                            <input type="hidden" asp-for="@Model.Course.SchoolName" />
                            <input type="hidden" asp-for="@Model.Course.CourseType" />

                            <div class="form-group">
                                <label asp-for="@Model.Course.Name">Nome</label>
                                <input asp-for="@Model.Course.Name" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label asp-for="@Model.ListCourseUCs">Disciplinas</label>

                                <div class="checkboxOptions">
                                    @for (var i = 0; i < Model.ListCourseUCs.Count; i++)
                                    {
                                        <input type="checkbox" asp-for="@Model.ListCourseUCs[i].IsChecked" />
                                        <label asp-for=@Model.ListCourseUCs[i].IsChecked>@Model.ListCourseUCs[i].Name</label>
                                        <input type="hidden" asp-for="@Model.ListCourseUCs[i].Value" />
                                        <input type="hidden" asp-for="@Model.ListCourseUCs[i].Name" />
                                    }
                                </div>
                            </div>

                            <div class="form-group">
                                <label asp-for="@Model.Course.Description"></label>
                                <textarea asp-for="@Model.Course.Description" class="form-control"></textarea>
                            </div>

                            <input type="hidden" asp-for="@Model.Course.CourseDuration" class="form-control" />

                            <div class="form-group">
                                <input type="submit" value="Guardar" class="btn btn-primary submitButton" />
                            </div>

                            <div asp-validation-summary="All" class="text-danger"></div>
                        </form>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@section Styles {
    <link href="@Url.Content("~/css/login.css")" rel="stylesheet" type="text/css" />
}