﻿@model IEnumerable<GEscola.Models.Course>

@{
    ViewData["Title"] = "Cursos";
}


<div class="containerBox">

    <div id="tableContainer">


        <p class="tableTitle">Cursos</p>

        <div id="tableOptions">
            @if (User.IsInRole("Admin"))
            {
                <div class="backBtn">
                    <a asp-action="Create"><img src="~/images/add.png" alt="Create New" /></a>
                </div>
            }
        </div>


        <div class="centerTableGrid">
            @foreach (var item in Model)
            {
                <div class="portaCartao">
                    <div class="cartao">
                        <div class="lado frente">
                            <h1 class="info">@Html.DisplayFor(modelItem => item.Name)</h1>
                        </div>
                        <div class="lado verso">
                            <div class="lado centerCard">
                                <p style="padding-top: 40px">
                                    <b>Descrição: </b>@Html.DisplayFor(modelItem => item.Description) <br /><br />
                                    <b>Tipo: </b>@Html.DisplayFor(modelItem => item.CourseType) <br /><br />
                                    <b>Duração: </b>@Html.DisplayFor(modelItem => item.CourseDuration) <hr />

                                </p>
                                <p>
                                    <br />
                                    <a style="padding: 5px" asp-action="Details" asp-route-id="@item.CourseId"><img src="~/images/info.png" alt="Details" /></a>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <a style="padding: 5px" asp-action="Edit" asp-route-id="@item.CourseId"><img src="~/images/edit.png" alt="Edit" /></a>
                                        <a style="padding: 5px" asp-action="Delete" asp-route-id="@item.CourseId"><img src="~/images/delete.png" alt="Delete" /></a>
                                    }
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


@section Styles {
    <link href="@Url.Content("~/css/courses.css")" rel="stylesheet" type="text/css" />
}