﻿@model GEscola.Models.GradeOP

@{ ViewData["Title"] = "Create"; }


<div class="containerBox">

    <div class="backBtn">
        <a asp-controller="Evaluations" asp-action="InitialCreate"><img src="~/images/back-button.png" alt="Back to List" /></a>
    </div>
    <div class="formContainer">

        <div class="headerLog">
            <center><span><b>Pauta da turma @ViewBag.className do curso @ViewBag.courseName </b></span></center> <!--ALTERAR PARA OS NOMES!!!!!!!!!!!!!!!!!-->
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <form asp-action="Create">
            <table>
                <thead>
                    <tr>
                        <th> Nome </th>
                        <th> Email </th>
                        @foreach (var item in ViewBag.ucs)
                        {
                            <th>
                                @(item.Name)
                            </th>
                        }
                    </tr>
                </thead>


                <tbody>
                    @{
                        List<Person> students = ViewBag.students as List<Person>;
                        List<UC> ucs = ViewBag.ucs as List<UC>;
                        foreach (Person p in students)
                        {
                            <tr>
                                <td>@p.Name</td>
                                <td>@p.Email</td>
                                @for (var i = 0; i < Model.GradesList.Count; i++)
                                {
                                    @if (Model.GradesList[i].StudentID == p.Id)
                                    {
                                        @if (ucs.Any(u => u.UCId == Model.GradesList[i].UCID))
                                        {
                                            <td>
                                                <input type="number" asp-for="@Model.GradesList[i].GradeNumber" min="0" max="20">

                                                <input type="hidden" asp-for="@Model.GradesList[i].GradeId" />
                                                <input type="hidden" asp-for="@Model.GradesList[i].EvaluationID" />
                                                <input type="hidden" asp-for="@Model.GradesList[i].StudentID" />
                                                <input type="hidden" asp-for="@Model.GradesList[i].UCID" />
                                            </td>
                                        }
                                    }

                                }
                            </tr>
                            }
                        }


                    </tbody>
                </table>

                <input type="submit" value="Criar" class="btn btn-primary" />
                <div asp-validation-summary="All" class="text-danger"></div>
            </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
