﻿@model GEscola.Models.GradeOP

@{ ViewData["Title"] = "Export"; }


<div class="containerBox">

    <div class="backBtn" style="margin-top:50px"> 
        <a asp-controller="Evaluations" asp-action="Index"><img src="~/images/back-button.png" alt="Back to List" /></a>
    </div>
    <div class="formContainer">
        <div>
        </div>
        <div>
            <h5 style="margin-bottom: 180px;">Média das notas do melhor e pior aluno</h5>
            <div class="box">

                @{
                    var best = ViewBag.bestStudent as Dictionary<Person, float>;
                    foreach (Person p in best.Keys)
                    {
                        float barHeight = (best.GetValueOrDefault(p) * 100) / 20;
                        string convert = barHeight.ToString().Replace(",", ".") + "%";
                        <div class="skill">
                            <div class="graph" style="height: @convert">
                                <div class="percent">@best.GetValueOrDefault(p)</div>
                            </div>
                            <div id="names">@p.Name</div>
                        </div>
                    }


                    var worst = ViewBag.worstStudent as Dictionary<Person, float>;
                    foreach (Person p in worst.Keys)
                    {
                        float barHeight = (worst.GetValueOrDefault(p) * 100) / 20;
                        string convert = barHeight.ToString().Replace(",", ".") + "%";
                        <div class="skill">
                            <div class="graph" style="height: @convert">
                                <div class="percent">@worst.GetValueOrDefault(p)</div>
                            </div>
                            <div id="names">@p.Name</div>
                        </div>
                    }
                }

            </div>
        </div>

        <div class="headerLog">
            <center><span><b>Pauta da turma @ViewBag.className do curso @ViewBag.courseName </b></span></center> <!--ALTERAR PARA OS NOMES!!!!!!!!!!!!!!!!!-->
        </div>
        <div class="previewTable">
            <table>
                <thead>
                    <tr>
                        <th> Nome </th>
                        <th> Email </th>
                        @foreach (var item in ViewBag.ucs)
                        {
                            <th>
                                @(item.Name)
                            </th>
                        }
                    </tr>
                </thead>


                <tbody>
                    @{
                        List<Person> students = ViewBag.students as List<Person>;
                        List<UC> ucs = ViewBag.ucs as List<UC>;
                        foreach (Person p in students)
                        {
                            <tr>
                                <td>@p.Name</td>
                                <td>@p.Email</td>
                                @for (var i = 0; i < Model.GradesList.Count; i++)
                                {
                                    @if (Model.GradesList[i].StudentID == p.Id)
                                    {
                                        @if (ucs.Any(u => u.UCId == Model.GradesList[i].UCID))
                                        {
                                            <td>
                                                @Model.GradesList[i].GradeNumber
                                            </td>
                                        }
                                    }

                                }
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <!--
            <div style="margin-top: 10px;">
                <a asp-controller="Grades" asp-action="PrintPDF" asp-route-courseID="@@ViewBag.courseID" asp-route-classID="@@ViewBag.classID" class="btn  btn-success"><img src="~/images/download.png" alt="Back to List" /></a>
            </div>
        -->
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@section Styles {
    <link href="@Url.Content("~/css/evaluations.css")" rel="stylesheet" type="text/css" />
}

