﻿@model GEscola.Models.GradeOP

@{ ViewData["Title"] = "Export"; }


<div class="containerBox">

    <div class="backBtn">
        <a asp-controller="Evaluations" asp-action="Index"><img src="~/images/back-button.png" alt="Back to List" /></a>
    </div>
    <div class="formContainer">

        <div class="headerLog">
            <center><span><b>Pauta @Model.GradesList[0].LectiveYear da turma @ViewBag.className do curso @ViewBag.courseName </b></span></center> <!--ALTERAR PARA OS NOMES!!!!!!!!!!!!!!!!!-->
        </div>


        <div>
            @{
                var best = ViewBag.bestStudent as Dictionary<Person, float>;
                foreach (Person p in best.Keys)
                {
                    <p>@p.Name</p>
                    <p>@best.GetValueOrDefault(p)</p>
                }


                var worst = ViewBag.worstStudent as Dictionary<Person, float>;
                foreach (Person p in worst.Keys)
                {
                    <p>@p.Name</p>
                    <p>@worst.GetValueOrDefault(p)</p>
                }
            }
        </div>

        <table>
            <thead>
                <tr>
                    <th> Nome </th>
                    <th> Email </th>
                    @foreach (var item in ViewBag.ucs)
                    {
                        <th>
                            @(item.Name)
                        </th>
                    }
                </tr>
            </thead>


            <tbody>
                @{
                    List<Person> students = ViewBag.students as List<Person>;
                    List<UC> ucs = ViewBag.ucs as List<UC>;
                    foreach (Person p in students)
                    {
                        <tr>
                            <td>@p.Name</td>
                            <td>@p.Email</td>
                            @for (var i = 0; i < Model.GradesList.Count; i++)
                            {
                                @if (Model.GradesList[i].StudentID == p.Id)
                                {
                                    @if (ucs.Any(u => u.UCId == Model.GradesList[i].UCID))
                                    {
                                        <td>
                                            @Model.GradesList[i].GradeNumber
                                        </td>
                                    }
                                }

                            }
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
