﻿@model GEscola.Models.ClassRoomOP

@{
    ViewData["Title"] = "Criar";
}

<div class="containerBox">

    <div id="tableContainer">

        <p class="tableTitle">Começar aula</p>

        <div class="centerTable">

            <div id="info">

                <div class="infoContainer">

                    <div class="header">
                        <ul class="options reverse">
                            <li>
                                <div class="redirectButton small">
                                    <a asp-action="Index"><img src="~/images/arrow_back_white.png" alt="Redirect" /></a>
                                </div>
                            </li>

                            <li>
                                <p class="title">Começar Aula</p>
                            </li>
                        </ul>
                    </div>

                    <div class="main">

                        <form asp-action="Create">

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <input type="hidden" asp-for="@Model.ClassRoom.CourseId" />

                            <input type="hidden" asp-for="@Model.ClassRoom.SchoolClassId" />

                            <input type="hidden" asp-for="@Model.ClassRoom.TeacherId" />

                            <div class="form-group">
                                <label class="no-margin">Curso</label>
                                <input value=@ViewBag.courseName readonly="readonly" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label class="no-margin">Turma</label>
                                <input value=@ViewBag.className readonly="readonly" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label asp-for="@Model.ClassRoom.RoomId" class="control-label"></label> <br>
                                <select class="select" asp-for="@Model.ClassRoom.RoomId" asp-items=@ViewBag.rooms>
                                    <option>- Selecione -</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label asp-for="@Model.ClassRoom.UCId" class="control-label"></label> <br>
                                <select class="select" asp-for="@Model.ClassRoom.UCId" asp-items=@ViewBag.ucs>
                                    <option>- Selecione -</option>
                                </select>
                            </div>

                            <center>
                                <div class="newBox">
                                    <div class="form-group">
                                        <label>Modelo</label>
                                    </div>

                                    <img style="width: 250px; height: auto;" src="~/images/classroom.jpg" alt="Back to List" />
                                </div>
                            </center>
                            <br />
                            <table>
                                <thead>
                                    <tr>
                                        <th> Nome </th>
                                        <th> Email </th>
                                        <th> Lugar </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @{
                                        List<Person> students = ViewBag.students as List<Person>;
                                        for (int i = 0; i < students.Count(); i++)
                                        {
                                            <tr>
                                                <td>@students.ElementAt(i).Name</td>
                                                <td>@students.ElementAt(i).Email</td>
                                                <td>
                                                    <input asp-for="@Model.ListStudentPlaces[i]">
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>

                            <div class="form-group">
                                <input type="submit" value="Criar" class="btn btn-primary submitButton" />
                                <div asp-validation-summary="All" class="text-danger"></div>
                            </div>

                        </form>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
@section Styles {
    <link href="@Url.Content("~/css/classroom.css")" rel="stylesheet" type="text/css"/>
}
