﻿@model GEscola.Models.ClassRoom

@{
    ViewData["Title"] = "Details";
}


<div class="containerBox">

    <div id="tableContainer">

        <p class="tableTitle">Detalhes</p>

        <div class="centerTable">

            <div id="info">

                <div class="infoContainer">

                    <div class="header">

                        <ul class="options reverse">
                            <li>
                                <div class="redirectButton small">
                                    <a asp-action="Index"><img src="~/images/arrow_back_white.png" alt="Redirect" /></a>
                                </div>
                            </li>

                            <li>
                                <p class="title">Aula</p>
                            </li>
                        </ul>

                        <ul class="options">
                            <li class="iconBtn">
                                <a asp-action="Edit" asp-route-id="@Model.ClassRoomId"><img src="~/images/edit.png" alt="Editar" /></a>
                            </li>
                        </ul>
                    </div>

                    <li class="main">

                        <ul>
                            <li>
                                <label>Data</label>
                                <p>@Model.Date</p>
                            </li>

                            <li>
                                <label>Sala</label>
                                <p>@ViewBag.room</p>
                            </li>

                            <li>
                                <label>Curso</label>
                                <p>@ViewBag.course</p>
                            </li>

                            <li>
                                <label>Disciplina</label>
                                <p>@ViewBag.uc</p>
                            </li>

                            <li>
                                <label>Aula</label>
                                <p>@ViewBag.classe</p>
                            </li>

                            <li>
                                <label>Professor</label>
                                <p>@ViewBag.teacher</p>
                            </li>

                            <li>
                                <center>
                                    <div class="newBox">
                                        <div class="form-group">
                                            <label>Modelo</label>
                                        </div>

                                        <img style="width: 250px; height: auto;" src="~/images/classroom.jpg" alt="Back to List" />
                                    </div>
                                </center>
                            </li>

                            <li>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Nome do Aluno</th>
                                            <th>Email do Aluno</th>
                                            <th>Lugar</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (Place item in ViewBag.students)
                                        {
                                            <tr>
                                                <td>@item.StudentName</td>
                                                <td>@item.StudentEmail</td>
                                                <td>@item.StudentSpot</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </li>
                        </ul>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>


@section Styles {
    <link href="@Url.Content("~/css/classroom.css")" rel="stylesheet" type="text/css" />
}