﻿@model GEscola.Models.ClassRoomOP

@{
    ViewData["Title"] = "Edit";
}


<div class="containerBox">

    <div id="tableContainer">

        <p class="tableTitle">Editar</p>

        <div class="centerTable">

            <div id="info">

                <div class="infoContainer">

                    <div class="header">

                        <ul class="options reverse">
                            <li>
                                <div class="redirectButton small">
                                    <a asp-action="Index"><img src="~/images/arrow_back_white.png" alt="Redirect" /></a>
                                </div>
                            </li>

                            <li>
                                <p class="title">Aula</p>
                            </li>
                        </ul>

                    </div>

                    <div class="main">

                        <form asp-action="Edit">

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <input type="hidden" asp-for="ClassRoom.ClassRoomId" />
                            <input type="hidden" asp-for="ClassRoom.SchoolName" />
                            <input type="hidden" asp-for="ClassRoom.Date" />
                            <input type="hidden" asp-for="ClassRoom.CourseId" />
                            <input type="hidden" asp-for="ClassRoom.SchoolClassId" />
                            <input type="hidden" asp-for="ClassRoom.TeacherId" />

                            <div class="form-group">
                                <label asp-for="ClassRoom.RoomId"></label>
                                <select class="select" asp-for="ClassRoom.RoomId" asp-items=@ViewBag.rooms></select>
                            </div>

                            <div class="form-group">
                                <label asp-for="ClassRoom.UCId"></label>
                                <select class="select" asp-for="ClassRoom.UCId" asp-items=@ViewBag.ucs></select>
                            </div>

                            <div class="form-group">
                                <label asp-for="ClassRoom.CourseId"></label>
                                <div class="noInput">
                                    <p>@ViewBag.course</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label asp-for="ClassRoom.SchoolClassId"></label>
                                <div class="noInput">
                                    <p>@ViewBag.classe</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label asp-for="ClassRoom.TeacherId"></label>
                                <div class="noInput">
                                    <p>@ViewBag.teacher</p>
                                </div>
                            </div>

                            <center>
                                <div class="newBox">
                                    <div class="form-group">
                                        <label>Modelo</label>
                                    </div>

                                    <img style="width:250px; height:auto;" src="~/images/classroom.jpg" alt="Back to List" />
                                </div>
                            </center>
                            <div class="form-group">

                                <label asp-for="ClassRoom.StudentsPlaces"></label>

                                <table>
                                    <thead>
                                        <tr>
                                            <th>Nome do Aluno</th>
                                            <th>Email do Aluno</th>
                                            <th>Lugar</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            List<Place> students = ViewBag.students as List<Place>;
                                            for (int i = 0; i < students.Count(); i++)
                                            {
                                                <tr>
                                                    <td>@students.ElementAt(i).StudentName</td>
                                                    <td>@students.ElementAt(i).StudentEmail</td>
                                                    <td>
                                                        <input class="square" asp-for="ListStudentPlaces[i]">
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>

                            <div class="form-group">
                                <input type="submit" value="Guardar" class="btn btn-primary" />
                                <div asp-validation-summary="All" class="text-danger"></div>
                            </div>

                        </form>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
@section Styles {
    <link href="@Url.Content("~/css/classroom.css")" rel="stylesheet" type="text/css" />
}
