﻿@model IEnumerable<GEscola.Models.ClassRoom>

@{
    ViewData["Title"] = "Aulas";
}

<div class="containerBox">

    <div id="tableContainer">

        <div class="centerTable">

            <div id="tableOptions">

                @if (User.IsInRole("Teacher") || User.IsInRole("ClassDirector"))
                {
                    <div class="backBtn">
                        <a asp-action="InitialCreate"><img src="~/images/class.png" alt="Começar aula" /></a>
                    </div>
                }

            </div>

            <div class="page">

                <h1>
                    Aulas
                </h1>
                <div class="archive">
                    @{

                        List<string> courses = ViewBag.courses as List<string>;
                        List<string> classes = ViewBag.classes as List<string>;
                        List<string> teachers = ViewBag.teachers as List<string>;
                        List<string> ucs = ViewBag.ucs as List<string>;
                        List<string> rooms = ViewBag.rooms as List<string>;
                        int i = 0;

                        @foreach (var item in Model)
                        {
                            <article class="article">
                                <hr><b>@Html.DisplayNameFor(model => model.Date):</b> @item.Date<br />
                                <b>@Html.DisplayNameFor(model => model.RoomId):</b> @rooms[i]<br />
                                <b>@Html.DisplayNameFor(model => model.CourseId):</b> @courses[i]<br />
                                <b>@Html.DisplayNameFor(model => model.UCId):</b> @ucs[i]<br />
                                <b>@Html.DisplayNameFor(model => model.SchoolClassId):</b> @classes[i]<br />
                                <b>@Html.DisplayNameFor(model => model.TeacherId):</b> @teachers[i]<br /><br />
                                <hr><br />
                                <center>
                                    <a asp-action="Details" asp-route-id="@item.ClassRoomId" id="classesDetails"><img src="~/images/info.png" alt="Details" /></a>
                                    <a asp-action="Edit" asp-route-id="@item.ClassRoomId"><img src="~/images/edit.png" alt="Edit" /></a>
                                </center>
                            </article>
                            i++;
                        }
                    }
                </div>

            </div>
        </div>

    </div>

</div>

@section Styles {
    <link href="@Url.Content("~/css/articles.css")" rel="stylesheet" type="text/css" />
}