﻿@model GEscola.Models.ClassRoom

@{ ViewData["Title"] = "Criar"; }



<div class="containerBox">

    <div id="tableContainer">

        <p class="tableTitle">Começar aula</p>

        <div class="centerTable">

            <div id="info">

                <div class="infoContainer">

                    <div class="header">
                        <ul class="options reverse">
                            <li>
                                <div class="redirectButton small">
                                    <a asp-action="Index"><img src="~/images/arrow_back_white.png" alt="Redirect" /></a>
                                </div>
                            </li>

                            <li>
                                <p class="title">Começar Aula</p>
                            </li>
                        </ul>
                    </div>

                    <div class="main">

                        <form asp-action="InitialCreate" id="choosenCourse">

                            <div class="form-group">
                                <label asp-for="@Model.CourseId" class="control-label"></label>
                                <select onchange="choosenCourse.submit()" class="select" asp-for="@Model.CourseId" asp-items=@ViewBag.courses>
                                    <option value=-1>- Selecione -</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label asp-for="@Model.SchoolClassId" class="control-label"></label>
                                <select class="select" asp-for="@Model.SchoolClassId" asp-items=@ViewBag.schoolClasses>
                                    <option value=-1>- Selecione -</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label asp-for="@Model.RoomId" class="control-label"></label> <br>
                                <select class="select" asp-for="@Model.RoomId" asp-items=@ViewBag.rooms>
                                    <option>- Selecione -</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label asp-for="@Model.UCId" class="control-label"></label> <br>
                                <select class="select" asp-for="@Model.UCId" asp-items=@ViewBag.ucs>
                                    <option>- Selecione -</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <input type="submit" value="Criar" class="btn btn-primary submitButton" />
                            </div>

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        </form>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@section Styles {
    <link href="@Url.Content("~/css/login.css")" rel="stylesheet" type="text/css" />
}

