﻿<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - GEscola</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/js/site.js" />
        <link rel="icon" href="~/images/favicon.ico">

        <link rel="stylesheet" href="~/css/index.css" />
        <link rel="stylesheet" href="~/css/users.css" />

        @RenderSection("Styles", false)
        @using Microsoft.AspNetCore.Identity
        @inject SignInManager<Person> SignInManager
        @inject UserManager<Person> UserManager
    </head>

    <body>

        @if (User.Identity.IsAuthenticated)
        {

            <div id="menuButton">
                <a><img src="~/images/menu_black.png" /></a>
            </div>

            <div id="blackContainer" class="hiddenContainer"></div>

            <nav id="nav" class="colorNav">

                <a asp-controller="Home" asp-action="Index">
                    <div id="logoContainer">
                        <div id="logo"></div>
                        <p>GEscola</p>
                    </div>
                </a>

                <div id="welcomeContainer">
                    <div class="textContainer">
                        <p>Olá @UserManager.FindByNameAsync(User.Identity.Name).Result.Name</p>
                    </div>

                    <div class="logOutContainer">
                        <div class="logOutButton">
                            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                <button type="submit"><img src="~/images/logOut_black.png" /></button>
                            </form>
                        </div>
                    </div>
                </div>

                <ul>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Profile" asp-action="Profile" asp-route-email=@User.Identity.Name.Replace("@", " ").Replace(".", "^")>Perfil</a>
                    </li>
                    <li class="nav-item users">
                        <a class="nav-link" asp-area="" asp-controller="Users" asp-action="Index">Utilizadores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Evaluations" asp-action="Index">Avaliações</a>
                    </li>
                    <hr />
                    @if (User.IsInRole("Admin") || User.IsInRole("ClassDirector") || User.IsInRole("Teacher"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Rooms" asp-action="Index">Salas</a>
                        </li>
                    }
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Courses" asp-action="Index">Cursos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="SchoolClasses" asp-action="Index">Turmas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="UCs" asp-action="Index">Disciplinas</a>
                    </li>
                    <hr/>
                    @if (User.IsInRole("Admin") || User.IsInRole("ClassDirector") || User.IsInRole("Teacher"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="ClassRooms" asp-action="Index">Aulas</a>
                        </li>
                    }
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Absences" asp-action="Index">Faltas</a>
                    </li>
                </ul>
            </nav>
        }
        else
        {
            <nav>
                <div id="logoContainer">
                    <div id="logo"></div>
                    <p>GEscola</p>
                </div>
            </nav>
        }
        <main role="main">
            @RenderBody()
        </main>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/function.js" type="text/javascript" asp-append-version="true"></script>
        <script src="~/js/index.js" type="module" asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)
    </body>

</html>
