﻿@model GEscola.Models.UC

@{
    ViewData["Title"] = "Criar";
}


<div class="containerBox">

    <div id="tableContainer">

        <p class="tableTitle">Criar</p>

        <div class="centerTable">

            <div id="info">

                <div class="infoContainer">

                    <div class="header">
                        <ul class="options reverse">
                            <li>
                                <div class="redirectButton small">
                                    <a asp-action="Index"><img src="~/images/arrow_back_white.png" alt="Redirect" /></a>
                                </div>
                            </li>

                            <li>
                                <p class="title">Disciplina</p>
                            </li>
                        </ul>
                    </div>

                    <div class="main">

                        <form asp-action="Create">

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="form-group">
                                <label>Nome da disciplina</label>
                                <input class="txtCourseName" asp-for="Name" type="text" />
                            </div>

                            <div class="form-group">
                                <label>Professor Responsável</label>

                                <select class="select" asp-for="TeacherId" asp-items=@ViewBag.teachers>
                                    <option value="null">- Selecione -</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label>Descrição</label>
                                <textarea class="txtarea" asp-for="Description"></textarea>
                            </div>

                            <div class="form-group">
                                <input type="submit" value="Criar" class="btn btn-primary submitButton" />
                            </div>

                            <div asp-validation-summary="All" class="text-danger"></div>
                        </form>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>


<!--
<div class="containerBox">

    <div class="formContainer">

        <form asp-action="Create">
            <div class="headerLog">
                <center><span><b>Criar disciplina</b></span></center>
            </div>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>Nome da disciplina</label>
                <input class="txtCourseName" asp-for="Name" type="text" />
            </div>
            <div class="form-group">
                <label>Professor Responsável</label>
                <select class="selectCourse" asp-for="TeacherId" asp-items=@ViewBag.teachers>
                    <option value="null">- Selecione -</option>
                </select>
            </div>
            <div class="form-group">
                <label>Descrição</label>
                <textarea class="txtareaCourse" cols="20" rows="2" asp-for="Description"></textarea>
            </div>
            <input type="submit" value="Criar" class="btn btn-primary" />
            <div asp-validation-summary="All" class="text-danger"></div>
        </form>
    </div>
    <div class="backBtn">
        <a asp-action="Index"><img src="~/images/back-button.png" alt="Back to List" /></a>
    </div>
</div>

    -->


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@section Styles {
    <link href="@Url.Content("~/css/login.css")" rel="stylesheet" type="text/css" />
}
