﻿@model GEscola.Models.UC

@{
    ViewData["Title"] = "Detalhes";
}


<div class="containerBox">

    <div id="tableContainer">

        <p class="tableTitle">Detalhes</p>

        <div class="centerTable">

            <div id="info">
                <div class="infoContainer">
                    <div class="header">
                        <ul class="options reverse">
                            <li>
                                <div class="redirectButton small">
                                    <a asp-action="Index"><img src="~/images/arrow_back_white.png" alt="Redirect" /></a>
                                </div>
                            </li>

                            <li>
                                <p class="title">Disciplina</p>
                            </li>
                        </ul>

                        <ul class="options">
                            <li class="iconBtn">
                                <a asp-action="Edit" asp-route-id="@Model.UCId"><img src="~/images/edit.png" alt="Editar" /></a>
                            </li>
                        </ul>
                    </div>

                    <div class="main">

                        <ul>
                            <li>
                                <label>Nome da Disciplina</label>
                                <p>@Html.DisplayFor(model => model.Name)</p>
                            </li>

                            <li>
                                <label>Nome do professor</label>
                                <p>@Html.DisplayFor(model => model.TeacherName)</p>
                            </li>

                            <li>
                                <label>Descrição</label>
                                <p>@Html.DisplayFor(model => model.Description)</p>
                            </li>
                        </ul>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

@section Styles {
    <link href="@Url.Content("~/css/login.css")" rel="stylesheet" type="text/css" />
}