﻿@model GEscola.Models.UC

@{
    ViewData["Title"] = "Editar";
}

<div class="containerBox">

    <div id="tableContainer">

        <p class="tableTitle">Editar</p>

        <div class="centerTable">

            <div id="info">

                <div class="infoContainer">

                    <div class="header">
                        <ul class="options reverse">
                            <li>
                                <div class="redirectButton small">
                                    <a asp-action="Index"><img src="~/images/arrow_back_white.png" alt="Redirect" /></a>
                                </div>
                            </li>

                            <li>
                                <p class="title">Disciplina</p>
                            </li>
                        </ul>
                    </div>

                    <div class="main">

                        <form asp-action="Edit">

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <input type="hidden" asp-for="UCId" />

                            <input type="hidden" asp-for="SchoolName" />

                            <div class="form-group">
                                <label asp-for="Name">Nome</label>
                                <input asp-for="Name" type="text" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label>Professor Responsável</label>
                                <select class="select" asp-for="TeacherId" asp-items=@ViewBag.teachers></select>
                            </div>

                            <div class="form-group">
                                <label asp-for="Description">Descrição</label>
                                <textarea asp-for="Description" class="form-control"></textarea>
                            </div>

                            <div class="form-group">
                                <input type="submit" value="Guardar" class="btn btn-primary submitButton" />
                            </div>

                            <div asp-validation-summary="All" class="text-danger"></div>
                        </form>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@section Styles {
    <link href="@Url.Content("~/css/login.css")" rel="stylesheet" type="text/css" />
}

