﻿@model IEnumerable<GEscola.Models.UC>

@{
    ViewData["Title"] = "Index";
}

<div class="containerBox">

    <div id="tableContainer">

        <div class="centerTable">

            <p class="tableTitle">Disciplinas</p>
            @if (User.IsInRole("Admin"))
            {
                <div class="backBtn">
                    <a asp-action="Create"><img src="~/images/add.png" alt="Create New" /></a>
                </div>
            }

            <div class="divGeral">
                @foreach (var item in Model)
                {
                    <div class="circuloG">
                        <div class="circuloP">
                            <h3 style="padding-top:10px">@Html.DisplayFor(m => item.Name)</h3>
                            <h6>Professor Responsável:<br/>@Html.DisplayFor(m => item.TeacherName)</h6> <br />
                            <a asp-action="Details" asp-route-id="@item.UCId"><img src="~/images/info.png" alt="Details" title="Detalhes" /></a>
                            @if (User.IsInRole("Admin"))
                            {
                                <a asp-action="Edit" asp-route-id="@item.UCId"><img src="~/images/edit.png" alt="Edit" title="Editar" /></a>
                                <a asp-action="Delete" asp-route-id="@item.UCId"><img src="~/images/delete.png" alt="Delete" title="Apagar" /></a>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


@section Styles {
    <link href="@Url.Content("~/css/rooms.css")" rel="stylesheet" type="text/css" />
}

