﻿@model GEscola.Models.Room

@{
    ViewData["Title"] = "Criar";
}


<div class="containerBox">

    <div id="tableContainer">

        <p class="tableTitle">Criar</p>

        <div class="centerTable">

            <div id="info">

                <div class="infoContainer">

                    <div class="header">
                        <ul class="options reverse">
                            <li>
                                <div class="redirectButton small">
                                    <a asp-action="Index"><img src="~/images/arrow_back_white.png" alt="Redirect" /></a>
                                </div>
                            </li>

                            <li>
                                <p class="title">Sala</p>
                            </li>
                        </ul>
                    </div>

                    <div class="main">

                        <form asp-action="Create">

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="form-group">
                                <label asp-for="Name"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="MaxCapacity"></label>
                                <input asp-for="MaxCapacity" class="form-control" />
                                <span asp-validation-for="MaxCapacity" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Size"></label>
                                <input asp-for="Size" class="form-control" />
                                <span asp-validation-for="Size" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Description"></label>
                                <input asp-for="Description" class="form-control" />
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <input type="submit" value="Criar" class="btn btn-primary submitButton" />
                            </div>
                        </form>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>


<!--

<h1>Create</h1>

<h4>Room</h4>
<hr />
<div class="containerBox">

    <div class="formContainer">

        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">

                    <div class="headerLog">
                        <center><span><b>Criar</b></span></center>
                    </div>

                    <div class="backBtn">
                        <a asp-action="Index"><img src="~/images/back-button.png" alt="Back to List" /></a>
                    </div>

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MaxCapacity" class="control-label"></label>
                        <input asp-for="MaxCapacity" class="form-control" />
                        <span asp-validation-for="MaxCapacity" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Size" class="control-label"></label>
                        <input asp-for="Size" class="form-control" />
                        <span asp-validation-for="Size" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

    </div>

</div>
-->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
