﻿@model GEscola.Models.Room

@{
    ViewData["Title"] = "Detalhes";
}

<div class="containerBox">

    <div id="tableContainer">

        <p class="tableTitle">Detalhes</p>

        <div class="centerTable">

            <div id="info">

                <div class="infoContainer">

                    <div class="header">

                        <ul class="options reverse">
                            <li>
                                <div class="redirectButton small">
                                    <a asp-action="Index"><img src="~/images/arrow_back_white.png" alt="Redirect" /></a>
                                </div>
                            </li>

                            <li>
                                <p class="title">Sala</p>
                            </li>
                        </ul>

                        <ul class="options">
                            <li class="iconBtn">
                                <a asp-action="Edit" asp-route-id="@Model.RoomId"><img src="~/images/edit.png" alt="Editar" /></a>
                            </li>
                        </ul>
                    </div>

                    <div class="main">

                        <ul>
                            <li>
                                <label>Nome da Sala</label>
                                <p>@Html.DisplayFor(model => model.Name)</p>
                            </li>

                            <li>
                                <label>Lotação máxima</label>
                                <p>@Html.DisplayFor(model => model.MaxCapacity)</p>
                            </li>

                            <li>
                                <label>Tamanho da Sala (m2)</label>
                                <p>@Html.DisplayFor(model => model.Size)</p>
                            </li>

                            <li>
                                <label>Descrição</label>
                                <p>@Html.DisplayFor(model => model.Description)</p>
                            </li>
                        </ul>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>
