﻿@model GEscola.Models.Room

@{
    ViewData["Title"] = "Editar";
}

<div class="containerBox">

    <div id="tableContainer">

        <p class="tableTitle">Editar</p>

        <div class="centerTable">

            <div id="info">

                <div class="infoContainer">

                    <div class="header">
                        <ul class="options reverse">
                            <li>
                                <div class="redirectButton small">
                                    <a asp-action="Index"><img src="~/images/arrow_back_white.png" alt="Redirect" /></a>
                                </div>
                            </li>

                            <li>
                                <p class="title">Sala</p>
                            </li>
                        </ul>
                    </div>

                    <div class="main">

                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <input type="hidden" asp-for="RoomId" />

                            <input type="hidden" asp-for="SchoolName" />

                            <div class="form-group">
                                <label asp-for="Name"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="MaxCapacity"></label>
                                <input asp-for="MaxCapacity" class="form-control" />
                                <span asp-validation-for="MaxCapacity" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Size"></label>
                                <input asp-for="Size" class="form-control" />
                                <span asp-validation-for="Size" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Description"></label>
                                <textarea asp-for="Description" class="form-control"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <input type="submit" value="Guardar" class="btn btn-primary submitButton" />
                            </div>
                        </form>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
