﻿@model GEscola.Models.Evaluation

@{
    ViewData["Title"] = "Delete";
}


<div class="containerBox">

    <div id="tableContainer">

        <p class="tableTitle">Eliminar</p>

        <div class="centerTable">

            <div class="backBtn">
                <a asp-action="Index"><img src="~/images/back-button.png" alt="Back to List" /></a>
            </div>
            <center>
                <p>Tem a certeza que pretende eliminar a avaliação?</p>
            </center>
            <br /><br />
            <div class="formContainer">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="EvaluationId" />
                    <button type="submit" class="btn btn-primary">Eliminar</button>
                </form>
            </div>

        </div>

    </div>

</div>

@section Styles {
    <link href="@Url.Content("~/css/login.css")" rel="stylesheet" type="text/css" />
}

