﻿@model GEscola.Models.Evaluation

@{ ViewData["Title"] = "InitialCreate"; }


<div class="containerBox">
    <div class="backBtn" style="margin-top:50px">
        <a asp-action="Index"><img src="~/images/back-button.png" alt="Back" /></a>
    </div>

    <div class="formContainer">

        <form asp-action="GetClassesCreate">
            <div class="headerLog">
                <center><span><b>Criar Pauta</b></span></center>
            </div>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!--<input type="hidden" asp-for="EvaluationId" />-->
            <input type="hidden" asp-for="CourseId" />

            <div class="form-group">
                <label asp-for="@Model.SchoolClassId" class="control-label"></label>
                <select class="selectCourse" asp-for="@Model.SchoolClassId" asp-items=@ViewBag.schoolClasses>
                    <option value="null">- Selecione -</option>
                </select>
            </div>
            <input type="submit" value="Criar" class="btn btn-primary" />
            <div asp-validation-summary="All" class="text-danger"></div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@section Styles {
    <link href="@Url.Content("~/css/login.css")" rel="stylesheet" type="text/css" />
}

