﻿@model IEnumerable<GEscola.Models.Evaluation>

@{ ViewData["Title"] = "Avaliações"; }


<div class="containerBox">

    <div id="tableContainer">

        <p class="tableTitle">Avaliações</p>

        <div class="centerTable">

            <div id="tableOptions">

                <div id="filtersBox">
                    <ul class="filters">
                        <li>
                            <a asp-action="Index">Ano Letivo Atual</a>
                        </li>

                        <li class="choosen">
                            <a>Histórico</a>
                        </li>
                    </ul>
                </div>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th>Ano Letivo</th>
                        <th>Curso</th>
                        <th>Turma</th>
                        <th>Diretor de Turma</th>
                        <th>Detalhes</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.LectiveYear</td>
                            @{
                                List<Course> courses = ViewBag.courses as List<Course>;
                                List<SchoolClass> classes = ViewBag.classes as List<SchoolClass>;
                                List<Person> dts = ViewBag.dts as List<Person>;

                                <td>
                                    @courses.FirstOrDefault(s => s.CourseId == item.CourseId).Name
                                </td>
                                <td>
                                    @classes.FirstOrDefault(s => s.SchoolClassId == item.SchoolClassId).Name
                                </td>
                                <td>
                                    @dts.FirstOrDefault(u => u.Id == item.TeacherId).Name
                                </td>
                            }
                            <td>
                                <a asp-controller="Grades" asp-action="PreviewPDF" asp-route-courseID="@item.CourseId" asp-route-classID="@item.SchoolClassId" class="btn  btn-success">Ver Pauta</a>
                            </td>
                            <td>
                                <a asp-action="Delete" asp-route-id="@item.EvaluationId"><img src="~/images/delete.png" alt="Delete" /></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
