﻿@model IEnumerable<GEscola.Models.Evaluation>

@{ ViewData["Title"] = "Avaliações"; }

<div class="containerBox">

    <div id="tableContainer">

        <p class="tableTitle">Avaliações</p>

        <div class="centerTable">

            <div id="tableOptions">
                @if (User.IsInRole("ClassDirector"))
                {
                    <div class="backBtn">
                        <a asp-action="InitialCreate"><img src="~/images/add.png" alt="Create New" /></a>
                    </div>
                }
            </div>
            <div id="filtersBox">
                <ul class="filters">
                    <li class="choosen">
                        <a>Ano Letivo Atual</a>
                    </li>

                    <li>
                        <a asp-action="Historic">Histórico</a>
                    </li>
                </ul>
            </div>
            <center>
                <div id="tableContainer2">
                    <section>
                        <center><h3>Média dos cursos</h3></center>
                        <div class="box">
                            @{
                                var map = ViewBag.CoursesAverage as Dictionary<Course, float>;
                                foreach (Course c in map.Keys)
                                {
                                    float barHeight = (map.GetValueOrDefault(c) * 100) / 20;
                                    string convert = barHeight.ToString().Replace(",", ".") + "%";

                                    <div class="skill">
                                        <div class="graph" style="height: @convert">
                                            <div class="percent">@map.GetValueOrDefault(c)</div>
                                        </div>
                                        <div class="name">@c.Name</div>
                                    </div>
                                }
                            }
                        </div>
                    </section>
                </div>

                <div id="tableContainer2">
                    <section id="centerTableEval">
                        @{
                            List<Course> coursesi = ViewBag.courses as List<Course>;

                            foreach (Course c in coursesi)
                            {
                                <h1>@c.Name</h1>

                                <table id="tableId" class="styled-table">
                                    <thead>
                                        <tr>
                                            <th>Turma</th>
                                            <th>Diretor de Turma</th>
                                            <th>Detalhes</th>
                                            <th>Eliminar</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            int i = 0;
                                            @foreach (var item in Model.Where(i => i.CourseId == c.CourseId))
                                            {
                                                <tr>
                                                    @{
                                                        List<SchoolClass> classes = ViewBag.classes as List<SchoolClass>;
                                                        List<Person> dts = ViewBag.dts as List<Person>;

                                                        <td>
                                                            @classes.FirstOrDefault(s => s.SchoolClassId == item.SchoolClassId).Name
                                                        </td>
                                                        <td>
                                                            @dts.FirstOrDefault(u => u.Id == item.TeacherId).Name
                                                        </td>
                                                    }
                                                    <td class="pointer">
                                                        <a asp-controller="Grades" asp-action="PreviewPDF" asp-route-courseID="@item.CourseId" asp-route-classID="@item.SchoolClassId" class="btn  btn-success">Ver Pauta</a>
                                                    </td>
                                                    @if (item.TeacherId == ViewBag.userID)
                                                    {
                                                        <td class="pointer">
                                                            <a asp-action="Delete" asp-route-id="@item.EvaluationId"><img src="~/images/delete.png" alt="Delete" /></a>
                                                        </td>
                                                    }
                                                </tr>
                                                i++;
                                            }
                                            if (i == 0)
                                            {
                                                <tr>
                                                    <td colspan="4">
                                                        <center>Sem avaliações</center>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            }
                        }
                    </section>
                </div>
            </center>
        </div>

    </div>
</div>

@section Styles {
    <link href="@Url.Content("~/css/evaluations.css")" rel="stylesheet" type="text/css" />
}
