﻿@{
    ViewData["Title"] = "Home Page";
}


<div id="homeBox">

    @if (!User.Identity.IsAuthenticated)
    {
        <div id="msg">
            <center>
                <p class="welcomeAnimation">Bem vindo</p>
            </center>
        </div>

        <div id="backgroundContainer">

            <div class="backgroundImage"></div>

            <div class="backgroundOpacity"></div>

        </div>

        <div id="navContainer">

            <div class="listContainer">
                <ul>
                    <li>
                        <a asp-area="Identity" asp-page="/Account/Login">Entrar</a>
                    </li>

                    <li>
                        <a asp-area="Identity" asp-page="/Account/Register">Registar</a>
                    </li>
                </ul>
            </div>
        </div>
    }
    else
    {

        <div id="backgroundContainer">

            <div class="backgroundImage"></div>

            <div class="backgroundOpacity"></div>

        </div>

    }

    <div id="homeContainer">

    </div>
</div>

@section Styles {
    <link href="@Url.Content("~/css/geral.css")" rel="stylesheet" type="text/css" />
}
