﻿@model GEscola.Models.AbsenceOP

@{
    ViewData["Title"] = "Detalhes";
}



<div class="containerBox">

    <div id="tableContainer">

        <p class="tableTitle">Detalhes</p>

        <div class="centerTable">

            <div id="info">
                <div class="infoContainer">

                    <div class="header">
                        <ul class="options reverse">
                            <li>
                                <div class="redirectButton small">
                                    <a asp-action="Index"><img src="~/images/arrow_back_white.png" alt="Redirect" /></a>
                                </div>
                            </li>

                            <li>
                                <p class="title">Falta</p>
                            </li>
                        </ul>
                    </div>

                    <div class="main">

                        <ul>
                            <li>
                                <label>Data</label>
                                <p>@Model.Date</p>
                            </li>

                            <li>
                                <label>Curso</label>
                                <p>@Model.Course</p>
                            </li>

                            <li>
                                <label>Disciplina</label>
                                <p>@Model.UC</p>
                            </li>

                            <li>
                                <label>Turma</label>
                                <p>@Model.SchoolClass</p>
                            </li>

                            <li>
                                <label>Sala</label>
                                <p>@Model.Room</p>
                            </li>

                            <li>
                                <label>Professor</label>
                                <p>@Model.Teacher</p>
                            </li>

                            <li>
                                <label>Aluno</label>
                                <p>@Model.Student</p>
                            </li>

                            <li>
                                <label>Justificado</label>
                                <p>@Html.DisplayFor(model => model.Absence.isDeleted)</p>
                            </li>

                            <li>
                                <label>Justificação</label>
                                <p>@Model.Absence.Justification</p>
                            </li>
                        </ul>

                    </div>
                </div>

            </div>

        </div>

    </div>

</div>
