﻿@model IEnumerable<GEscola.Models.AbsenceOP>

@{
    ViewData["Title"] = "Faltas";
}

<div class="containerBox">

    <div id="tableContainer">


        <div class="centerTableNew">

            <div class="page">
                <h1>Faltas</h1>
                <div id="tableOptions">

                    <div id="filtersBox">
                        <ul class="filters">
                            <li class="choosen">
                                <a asp-action="Index">Pendentes</a>
                            </li>

                            <li>
                                <a asp-action="AcceptedAbsences">Aceites</a>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="archive">
                    @{
                        foreach (var item in Model)
                        {
                            if (item.Absence.isDeleted == true) continue;

                            <article class="article">
                                <hr>
                                <b>Nome: </b> @item.Student <br />
                                <b>Turma: </b> @item.SchoolClass <br />
                                <b>Curso: </b> @item.Course <br />
                                <hr>
                                <b> Detalhes da falta </b> <br />
                                <b>Data: </b>@item.Date<br />
                                <b>Disciplina: </b>@item.UC<br />
                                <b>Sala: </b>@item.Room<br />
                                <b>Professor: </b>@item.Teacher<br />
                                <b>Justificado: </b>@Html.DisplayFor(modelItem => item.Absence.isDeleted)
                                <hr>
                                <center>
                                    <a asp-action="Details" asp-route-id="@item.Absence.AbsenceId"><img src="~/images/info.png" title="Detalhes" alt="Details" /></a>

                                    @if (User.IsInRole("Student") || User.IsInRole("Admin"))
                                    {
                                        <a asp-action="ParentalPIN" asp-route-id="@item.Absence.AbsenceId"><img src="~/images/justify.png" title="Justificar" alt="Justify" /></a>
                                    }
                                    @if (User.IsInRole("ClassDirector") || User.IsInRole("Admin"))
                                    {
                                        if (item.Absence.Justification != null && item.Absence.Justification != "" && item.Absence.isDeleted == false)
                                        {
                                           <hr>
                                            <a asp-action="Accept" asp-route-id="@item.Absence.AbsenceId"><img src="~/images/check.png" title="Aceitar justificação" alt="Accept" /></a>
                                            <a asp-action="Decline" asp-route-id="@item.Absence.AbsenceId"><img src="~/images/reject.png" title="Rejeitar justificação" alt="Decline" /></a>
                                        }
                                    }
                                </center>
                            </article>
                        }
                    }
                </div>

            </div>
        </div>
    </div>
</div>

@section Styles {
    <link href="@Url.Content("~/css/absences.css")" rel="stylesheet" type="text/css" />
}

