﻿@model GEscola.Models.Absence

@{
    ViewData["Title"] = "Justificação";
}

<div class="containerBox">

    <div id="tableContainer">

        <p class="tableTitle">Justificação</p>

        <div class="centerTable">

            <div id="info">
                <div class="infoContainer">

                    <div class="header">
                        <ul class="options reverse">
                            <li>
                                <div class="redirectButton small">
                                    <a asp-action="Index"><img src="~/images/arrow_back_white.png" alt="Redirect" /></a>
                                </div>
                            </li>

                            <li>
                                <p class="title">Falta</p>
                            </li>
                        </ul>
                    </div>

                    <div class="main">

                        <form asp-action="Justify">

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <input type="hidden" asp-for="AbsenceId" />

                            <input type="hidden" asp-for="SchoolName" />

                            <input type="hidden" asp-for="ClassRoomId" />

                            <input type="hidden" asp-for="StudentId" />

                            <div class="form-group">
                                <label asp-for="Justification"></label>
                                <textarea class="txtarea" asp-for="Justification" cols="20" rows="2"></textarea>
                            </div>

                            <div class="form-group">
                                <input type="submit" value="Submeter" class="btn btn-primary submitButton" />
                                <div asp-validation-summary="All" class="text-danger"></div>
                            </div>
                        </form>

                    </div>
                </div>

            </div>

        </div>

    </div>

</div>

<!--
<div class="containerBox">

    <div id="tableContainer">

        <p class="tableTitle">Justificar Faltas</p>

        <div class="centerTable">

            <h4>Absence</h4>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="Justify">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="AbsenceId" />
                        <input type="hidden" asp-for="SchoolName" />
                        <input type="hidden" asp-for="ClassRoomId" />
                        <input type="hidden" asp-for="StudentId" />
                        <div class="form-group">
                            <label asp-for="Justification" class="control-label"></label>
                            <textarea class="txtareaCourse" asp-for="Justification" cols="20" rows="2"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                            <div asp-validation-summary="All" class="text-danger"></div>
                        </div>
                    </form>
                </div>
            </div>

            <div>
                <a asp-action="Index">Back to List</a>
            </div>

            @section Scripts {
                @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
            }

        </div>

    </div>

</div>

    -->
