﻿@model GEscola.Models.Absence

@{ ViewData["Title"] = "ParentalPIN"; }


<div class="containerBox">

    <div class="backBtn">
        <a asp-action="Index"><img src="~/images/back-button.png" alt="Back to List" /></a>
    </div>

    <div class="formContainer">

        <form asp-action="ParentalPIN">
            <div class="headerLog">
                <center><span><b>Insira o PIN Parental</b></span></center>
            </div>

            <input type="hidden" asp-for="AbsenceId" />
            <input type="hidden" asp-for="StudentId" />

            <div class="form-group">
                <input type="number" asp-for="ClassRoomId" class="form-control" />  <!--Corresponde ao ParentalPIN do student-->
            </div>
            <input type="submit" value="Confirmar" class="btn btn-primary" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </form>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@section Styles {
    <link href="@Url.Content("~/css/login.css")" rel="stylesheet" type="text/css" />
}

