﻿@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<div class="login">
    <center>
        <h1>Registado com sucesso</h1>
    </center>
    <h4 class="text-center">De forma a confirmá-lo, <a asp-page="./Login">efetue o login</a></h4>
</div>

@section Styles {
    <link href="@Url.Content("~/css/login.css")" rel="stylesheet" type="text/css" />
}