﻿@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Recuperar palavra-passe";
}

<div class="login">
    <div class="formContainer">
        <form method="post">
            <h1>Recuperar <br /> palavra-passe</h1>

            <div class="form-group">
                <h4 class="padding-top-50">Insira o seu email</h4>
                <input asp-for="Input.Email" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">Recuperar</button>
            <div asp-validation-summary="All" class="text-danger"></div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

@section Styles {
    <link href="@Url.Content("~/css/login.css")" rel="stylesheet" type="text/css" />
}
