﻿@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="goBack">
    <a asp-page="./"><img src="~/images/clear_white.png" /></a>
</div>

<div class="login">

    <div class="formContainer centerContainer">

        <form id="account" method="post">

            <div class="header">
                <div class="loginImage"></div>
                <center><span><b>Iniciar Sessão</b></span></center>
            </div>

            <div class="inputDiv">
                <div class="iconContainer">
                    <span><img src="~/images/email_black.png"/></span>
                </div>

                <div class="inputContainer">
                    <input asp-for="Input.Email" type="email" placeholder="Email" id="emailInput" />
                </div>
            </div>

            <div class="inputDiv">
                <div class="iconContainer">
                    <span><img src="~/images/eyePassword.png" onmouseover="mouseoverPass();" onmouseout="mouseoutPass();" /></span>
                </div>

                <div class="inputContainer">
                    <input asp-for="Input.Password" type="password" placeholder="Password" id="passwordInput" size="30" />
                </div>
            </div>

            <button type="submit" class="btn btn-primary regularButton">Entrar</button>

            <center>
                <div class="regularButton">
                    <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Registar</a>
                </div>

                <p><a id="forgot-password" asp-page="./ForgotPassword">Recuperar palavra-passe</a></p>
            </center>

            <div asp-validation-summary="All" class="text-danger"></div>

        </form>
    </div>

    <footer>
    </footer>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

@section Styles {
    <link href="@Url.Content("~/css/login.css")" rel="stylesheet" type="text/css" />
}
