﻿@page
@model RegisterModel
@{
    ViewData["Title"] = "Registar";
}

<div class="goBack">
    <a asp-page="./"><img src="~/images/clear_white.png" /></a>
</div>

<div class="login">

    <div class="formContainer centerContainer">

        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">

            <div class="header">
                <div class="loginImage"></div>
                <center><span><b>@ViewData["Title"]</b></span></center>
            </div>

            <div class="inputDiv">
                <div class="iconContainer">
                    <span></span>
                </div>

                <div class="inputContainer">
                    <input asp-for="Input.Name" value="Admin" readonly="readonly" class="form-control" />
                </div>
            </div>

            <div class="inputDiv">
                <div class="iconContainer">
                    <span></span>
                </div>

                <div class="inputContainer">
                    <input asp-for="Input.SchoolName" type="text" placeholder="Nome da Escola" class="form-control" />
                </div>
            </div>

            <div class="inputDiv">
                <div class="iconContainer">
                    <span></span>
                </div>

                <div class="inputContainer">
                    <input asp-for="Input.LectiveYearName" type="text" placeholder="Ano Letivo (Ex: 2020/2021)" class="form-control" />
                </div>
            </div>

            <div class="inputDiv">
                <div class="iconContainer">
                    <span><img src="~/images/email_black.png" /></span>
                </div>

                <div class="inputContainer">
                    <input asp-for="Input.Email" type="email" placeholder="Email" id="emailInput" />
                </div>
            </div>

            <div class="inputDiv">
                <div class="iconContainer">
                    <span><img src="~/images/eyePassword.png" onmouseover="mouseoverPass();" onmouseout="mouseoutPass();" /></span>
                </div>

                <div class="inputContainer">
                    <input asp-for="Input.Password" type="password" placeholder="Password" id="passwordInput" size="30" />
                </div>
            </div>

            <div class="inputDiv">
                <div class="iconContainer">
                    <span><img src="~/images/eyePassword.png" onmouseover="mouseoverPass2();" onmouseout="mouseoutPass2();" /></span>
                </div>

                <div class="inputContainer">
                    <input asp-for="Input.ConfirmPassword" type="password" placeholder="Confirmar password" id="passwordInput2" size="30" />
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Registar</button>

            <center>
                <div>
                    <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Entrar</a>
                </div>
            </center>

            <div asp-validation-summary="All" class="text-danger"></div>
        </form>

    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

@section Styles {
    <link href="@Url.Content("~/css/register.css")" rel="stylesheet" type="text/css" />
}
