﻿@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<div class="login">

    <center>
        <h1>Confirmar Registo</h1>
    </center>
    <h4 class="text-center">De forma a confirmar o seu registo dirija-se ao seu email e continue a partir de lá</h4>
</div>

@section Styles {
    <link href="@Url.Content("~/css/login.css")" rel="stylesheet" type="text/css" />
}

