﻿@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}

<div class="login">
    <div class="formContainer">
        <form method="post">
            <h1 class="padding-bot-50">Configurar nova password</h1>
            <input asp-for="Input.Code" type="hidden" />
            <div class="form-group">
                <label asp-for="Input.Email"></label><br />
                <input asp-for="Input.Email" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label><br />
                <input asp-for="Input.Password" class="form-control" />
            </div>
            <div class="form-group">
                <label>Confirmar Password</label><br />
                <input asp-for="Input.ConfirmPassword" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">Confirmar</button>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

@section Styles {
    <link href="@Url.Content("~/css/login.css")" rel="stylesheet" type="text/css" />
}