﻿@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}


<div class="login">
    <h1>A sua password foi alterada com sucesso</h1>
    <h4 class="text-center">De forma a confirmá-lo, <a asp-page="./Login">efetue o login</a></h4>
</div>

@section Styles {
    <link href="@Url.Content("~/css/login.css")" rel="stylesheet" type="text/css" />
}
